In [995]:
from operator import itemgetter
import pandas as pd
import fitz
import json
from bs4 import BeautifulSoup
import itertools
def fonts(doc, granularity=False):
    """Extracts fonts and their usage in PDF documents.
    :param doc: PDF document to iterate through
    :type doc: <class 'fitz.fitz.Document'>
    :param granularity: also use 'font', 'flags' and 'color' to discriminate text
    :type granularity: bool
    :rtype: [(font_size, count), (font_size, count}], dict
    :return: most used fonts sorted by count, font style information
    """
    styles = {}
    font_counts = {}

    for page in doc:
        blocks = page.getText("dict")["blocks"]
        for b in blocks:  # iterate through the text blocks
            if b['type'] == 0:  # block contains text
                for l in b["lines"]:  # iterate through the text lines
                    for s in l["spans"]:  # iterate through the text spans
                        if granularity:
                            identifier = "{0}_{1}_{2}_{3}".format(s['size'], s['flags'], s['font'], s['color'])
                            styles[identifier] = {'size': s['size'], 'flags': s['flags'], 'font': s['font'],
                                                  'color': s['color']}
                        else:
                            identifier = "{0}".format(s['size'])
                            styles[identifier] = {'size': s['size'], 'font': s['font']}

                        font_counts[identifier] = font_counts.get(identifier, 0) + 1  # count the fonts usage

    font_counts = sorted(font_counts.items(), key=itemgetter(1), reverse=True)

    if len(font_counts) < 1:
        raise ValueError("Zero discriminating fonts found!")

    return font_counts, styles

In [1287]:
def unlevel(obj):
    while isinstance(obj, list) and len(obj) == 1:
        obj = obj[0]
    if isinstance(obj, list):
        return [unlevel(item) for item in obj]
    else:
        return obj

In [996]:
import camelot

In [997]:
doc = fitz.open('/home/jupyter/fpr_pdf3.pdf')

In [998]:
import fitz  # this is pymupdf

with fitz.open('/home/jupyter/fpr_pdf3.pdf') as doc:
    text = ""
    for page in doc:
        text += page.getText()
        #print(text)

#print(text)

In [999]:
doc = fitz.open('/home/jupyter/fpr_pdf3.pdf')

In [1000]:
font_counts, styles = fonts(doc, granularity=False)

In [1001]:
font_counts, styles

([('9.960000038146973', 724),
  ('9.0', 18),
  ('14.039999961853027', 6),
  ('12.960000038146973', 4),
  ('11.039999961853027', 3),
  ('6.480000019073486', 2),
  ('21.959999084472656', 1)],
 {'21.959999084472656': {'size': 21.959999084472656, 'font': 'ArialMT'},
  '9.960000038146973': {'size': 9.960000038146973, 'font': 'ArialMT'},
  '12.960000038146973': {'size': 12.960000038146973, 'font': 'ArialMT'},
  '14.039999961853027': {'size': 14.039999961853027, 'font': 'ArialMT'},
  '9.0': {'size': 9.0, 'font': 'ArialMT'},
  '6.480000019073486': {'size': 6.480000019073486, 'font': 'ArialMT'},
  '11.039999961853027': {'size': 11.039999961853027,
   'font': 'BCDFEE+Calibri'}})

In [1002]:
def font_tags(font_counts, styles):
    """Returns dictionary with font sizes as keys and tags as value.
    :param font_counts: (font_size, count) for all fonts occuring in document
    :type font_counts: list
    :param styles: all styles found in the document
    :type styles: dict
    :rtype: dict
    :return: all element tags based on font-sizes
    """
    p_style = styles[font_counts[0][0]]  # get style for most used font by count (paragraph)
    p_size = p_style['size']  # get the paragraph's size

    # sorting the font sizes high to low, so that we can append the right integer to each tag 
    font_sizes = []
    for (font_size, count) in font_counts:
        font_sizes.append(float(font_size))
    font_sizes.sort(reverse=True)

    # aggregating the tags for each font size
    idx = 0
    size_tag = {}
    for size in font_sizes:
        idx += 1
        if size == p_size:
            idx = 0
            size_tag[size] = '<p>'
        if size > p_size:
            size_tag[size] = '<h{0}>'.format(idx)
        elif size < p_size:
            size_tag[size] = '<s{0}>'.format(idx)

    return size_tag

In [1003]:
def headers_para(doc, size_tag):
    """Scrapes headers & paragraphs from PDF and return texts with element tags.
    :param doc: PDF document to iterate through
    :type doc: <class 'fitz.fitz.Document'>
    :param size_tag: textual element tags for each size
    :type size_tag: dict
    :rtype: list
    :return: texts with pre-prended element tags
    """
    header_para = []  # list with headers and paragraphs
    first = True  # boolean operator for first header
    previous_s = {}  # previous span

    for page in doc:
        blocks = page.getText("dict")["blocks"]
        for b in blocks:  # iterate through the text blocks
            if b['type'] == 0:  # this block contains text
                # REMEMBER: multiple fonts and sizes are possible IN one block
                block_string = ""  # text found in block
                for l in b["lines"]:  # iterate through the text lines
                    for s in l["spans"]:  # iterate through the text spans
                        if s['text'].strip():  # removing whitespaces:
                            if first:
                                previous_s = s
                                first = False
                                block_string = size_tag[s['size']] + s['text']
                            else:
                                if s['size'] == previous_s['size']:

                                    if block_string and all((c == "|") for c in block_string):
                                        # block_string only contains pipes
                                        block_string = size_tag[s['size']] + s['text']
                                    if block_string == "":
                                        # new block has started, so append size tag
                                        block_string = size_tag[s['size']] + s['text']
                                    else:  # in the same block, so concatenate strings
                                        block_string += " " + s['text']

                                else:
                                    header_para.append(block_string)
                                    block_string = size_tag[s['size']] + s['text']

                                previous_s = s

                    # new block started, indicating with a pipe
                    block_string += "|"

                header_para.append(block_string)
    return header_para

In [1004]:
#doc = fitz.open('/home/jupyter/FPR_281020_3.pdf')
document = '/home/jupyter/fpr_pdf3.pdf'
doc = fitz.open(document)
toc = doc.getToC()

font_counts, styles = fonts(doc, granularity=False)

size_tag = font_tags(font_counts, styles)

elements = headers_para(doc, size_tag)

with open("doc2.json", 'w') as json_out:
    json.dump(elements, json_out)

In [1005]:
tables = camelot.read_pdf(document , flavor='stream')

In [1006]:
noway = tables[2].df

#df.to_csv()

In [1007]:
noway

,0,1
0,xisting policy,
1,This will Field_15 the following Field_16:,
2,R\nepeat for multiple policies,
3,Name,Elnaz Nobari
4,Product,potatoe Level Life Cover tomatoe
5,Sum assured,£13
6,Term,200 years 10 millenium
7,Premium,£400 a month
8,In trust,Yes
9,Guaranteed insurability,No
10,option available,

In [1008]:
way = noway[noway[1] != '']
way.columns = ["Field","Value"]
print(way)

                     Field                             Value
3                     Name                      Elnaz Nobari
4                  Product  potatoe Level Life Cover tomatoe
5              Sum assured                               £13
6                     Term            200 years 10 millenium
7                  Premium                      £400 a month
8                 In trust                               Yes
9  Guaranteed insurability                                No

### fitz.Document.getXmlMetadata('/home/jupyter/FPR_281020_3.pdf')

In [1009]:
#!/usr/bin/python

#from bs4 import BeautifulSoup

with open('doc2.json', 'r') as f:

    contents = f.read()

    soup = BeautifulSoup(contents, 'lxml')

    #print(soup.find('ul', attrs={ 'id' : 'mylist'}))
    #print(soup.find('ul', id='h1'))
    root = soup.body
        #root = soup.body
    for tag in soup.find_all('h1'):
        out_name = f'{tag.name}: {tag.text}'
    #root_childs = [e.name for e in root.descendants if e.name is not None]
    #print(root_childs)
out_name

'h1: My protection recommendations |", "", "'

In [1010]:
#contents

In [1011]:
page = doc[3]

In [1012]:
#g = page.getTextPage()

In [1013]:
#g2 = g.extractBLOCKS(3)

In [1014]:
k2 = page.getText("dict")
#doc.TextPage.extractText()

In [1015]:
#k2

In [1016]:
for p in k2['blocks']:
    #print( p['bbox'])
    if p['type'] == 0:
        for pp in p['lines']:
            for ppp in pp['spans']:
                print(ppp['text'])
                print(ppp['bbox'])
        #print(pp['spans']['bbox'])
    #print(p)
    #print(p['label'])
    #print(p['words'])
    #print(p['linking'])
    #print(p['id'])

    #print('')

Lifestyle - critical illness
(72.02400207519531, 70.32801055908203, 211.4928741455078, 88.13504791259766)
Lifestyle protection for you
(72.02400207519531, 86.08699035644531, 239.39312744140625, 105.3779525756836)
Summarise the customer’s needs and personal reasons for reviewing this area. Keep concise and
(72.02400207519531, 112.68348693847656, 507.31427001953125, 123.81067657470703)
take care not to repeat information from elsewhere in the report.
(72.02400207519531, 123.35299682617188, 359.9588928222656, 137.0380401611328)
INSERT_39
(72.02400207519531, 135.71298217773438, 128.18887329101562, 149.3980255126953)
Repeat the following product details for each recommended policy. Ensure all details match the
(72.02400207519531, 148.19296264648438, 495.307861328125, 161.8780059814453)
illustration(s). For joint cases, add customer names if applicable.
(72.02400207519531, 160.55300903320312, 359.4788818359375, 174.23805236816406)
Name
(77.42400360107422, 173.08279418945312, 107.42888641357422, 186.79771423339844)
INSERT_40
(204.88999938964844, 173.08279418945312, 261.05889892578125, 186.79771423339844)
Product
(77.42400360107422, 185.08279418945312, 117.98888397216797, 198.79771423339844)
Aviva Upgraded+ Level Critical Illness Cover
(204.88999938964844, 185.08279418945312, 419.7189025878906, 198.79771423339844)
Sum assured
(77.42400360107422, 197.08279418945312, 142.94886779785156, 210.79771423339844)
£INSERT_41
(204.88999938964844, 197.08279418945312, 266.5788879394531, 210.79771423339844)
Term
(77.42400360107422, 209.08279418945312, 104.66888427734375, 222.79771423339844)
ii_Field_362_1 years
(204.88999938964844, 209.08279418945312, 304.3788757324219, 222.79771423339844)
Premium
(77.42400360107422, 221.08279418945312, 123.02888488769531, 234.79771423339844)
£INSERT_42 a month
(204.88999938964844, 221.08279418945312, 308.2189025878906, 234.79771423339844)

(72.02400207519531, 236.99301147460938, 74.79288482666016, 250.6780548095703)
This will
(72.02400207519531, 249.47299194335938, 110.16085815429688, 263.15802001953125)
Field_31
(110.18000030517578, 249.47299194335938, 148.58578491210938, 263.15802001953125)
 your need to provide a lump sum to help with the potential costs caused by a
(148.5800018310547, 249.47299194335938, 493.308837890625, 263.15802001953125)
change of lifestyle as a result of a critical illness.
(72.02400207519531, 261.8630065917969, 287.6988830566406, 275.54803466796875)

(72.02400207519531, 274.3429870605469, 77.5528793334961, 288.02801513671875)
Multiple needs covered by single policy
(72.02400207519531, 286.7029724121094, 248.2188720703125, 300.38800048828125)
This policy will be used to cover needs with differing
(72.02400207519531, 299.1829528808594, 304.30322265625, 312.86798095703125)
Field_32
(304.3699951171875, 299.1829528808594, 342.6877136230469, 312.86798095703125)
. I’ve recommended this, rather than
(342.6700134277344, 300.8734436035156, 505.375, 312.0006103515625)
separate policies,
(72.02400207519531, 311.5429992675781, 152.49081420898438, 325.22802734375)
Field_33
(152.5399932861328, 311.5429992675781, 190.79637145996094, 325.22802734375)
.
(190.97000122070312, 311.5429992675781, 196.61888122558594, 325.22802734375)

(72.02400207519531, 323.9029846191406, 74.79288482666016, 337.5880126953125)
Multiple policies but single policy cheaper
(72.02400207519531, 336.38299560546875, 258.17889404296875, 350.0680236816406)
You could cover your needs with a single policy with a lower total cost. However, you preferred
(72.02400207519531, 348.74298095703125, 493.2603759765625, 362.4280090332031)
separate policies because INSERT_43.
(72.02400207519531, 361.2229919433594, 249.4188690185547, 374.90802001953125)

(72.02400207519531, 373.5829772949219, 74.79288482666016, 387.26800537109375)
Customer employed
(72.02400207519531, 385.9429931640625, 164.30886840820312, 399.6280212402344)
I
(72.02400207519531, 398.4229736328125, 77.55288696289062, 412.1080017089844)
Field_34
(77.54399871826172, 398.4229736328125, 115.82027435302734, 412.1080017089844)
 taken your employer’s critical illness cover of £INSERT_44 into account because
(115.81999969482422, 398.4229736328125, 478.1994934082031, 412.1080017089844)
INSERT_45. The implications of relying on your employer benefits are explained later in the report.
(72.02400207519531, 410.7829895019531, 511.30889892578125, 424.468017578125)

(72.02400207519531, 423.2629699707031, 74.79288482666016, 436.947998046875)
Existing policy
(72.02400207519531, 435.6429748535156, 138.1488800048828, 449.3280029296875)
This will
(72.02400207519531, 448.00299072265625, 110.16085815429688, 461.6880187988281)
Field_35
(110.18000030517578, 448.00299072265625, 148.58578491210938, 461.6880187988281)
 the following
(148.5800018310547, 448.00299072265625, 209.61595153808594, 461.6880187988281)
Field_36
(209.69000244140625, 448.00299072265625, 248.0957794189453, 461.6880187988281)
:
(248.08999633789062, 448.00299072265625, 253.73887634277344, 461.6880187988281)

(72.02400207519531, 460.48297119140625, 74.79288482666016, 474.1679992675781)
Repeat for multiple policies
(72.02400207519531, 472.8429870605469, 194.93887329101562, 486.52801513671875)
Name
(77.42400360107422, 485.3727722167969, 107.42888641357422, 499.0876770019531)
INSERT_46
(205.97000122070312, 485.3727722167969, 262.1388854980469, 499.0876770019531)
Product
(77.42400360107422, 497.2527770996094, 117.98888397216797, 510.9676818847656)
INSERT_47 INSERT_48
(205.97000122070312, 497.2527770996094, 318.1988830566406, 510.9676818847656)
Sum assured
(77.42400360107422, 509.2527770996094, 142.94886779785156, 522.9677124023438)
£20
(205.97000122070312, 509.2527770996094, 225.4188690185547, 522.9677124023438)
Term
(77.42400360107422, 521.2527465820312, 104.66888427734375, 534.9677124023438)
INSERT_50 years INSERT_51
(205.97000122070312, 521.2527465820312, 347.118896484375, 534.9677124023438)
Premium
(77.42400360107422, 533.2527465820312, 123.02888488769531, 546.9677124023438)
£INSERT_52 a month
(205.97000122070312, 533.2527465820312, 309.29888916015625, 546.9677124023438)
Guaranteed insurability
(77.42400360107422, 549.812744140625, 191.7445526123047, 563.5277099609375)
option available
(77.42400360107422, 561.332763671875, 155.78887939453125, 575.0477294921875)
Yes
(205.97000122070312, 549.812744140625, 226.49887084960938, 563.5277099609375)

(72.02400207519531, 572.802978515625, 74.79288482666016, 586.488037109375)
Replacement – not suitable
(72.02400207519531, 585.282958984375, 196.0188751220703, 598.968017578125)
This policy no longer meets your needs because INSERT_53. Please see ‘
(72.02400207519531, 597.6429443359375, 402.5902099609375, 611.3280029296875)
My other
(402.6700134277344, 597.6927490234375, 447.0717468261719, 611.40771484375)
recommendations’
(72.02400207519531, 610.082763671875, 163.58888244628906, 623.7977294921875)
later in this report.
(163.6999969482422, 610.032958984375, 246.53887939453125, 623.718017578125)

(72.02400207519531, 622.512939453125, 74.79288482666016, 636.197998046875)
Replacement – critical illness still suitable
(72.02400207519531, 634.8729248046875, 258.17889404296875, 648.5579833984375)
While this policy still meets your needs, my recommended policy provides more comprehensive
(72.02400207519531, 647.35302734375, 496.2413330078125, 661.0380249023438)
cover. Please see ‘
(72.02400207519531, 659.7130126953125, 156.38983154296875, 673.3980102539062)
My other recommendations’
(156.5, 659.7627563476562, 292.618896484375, 673.4777221679688)
later in this report.
(292.6099853515625, 659.7130126953125, 375.55889892578125, 673.3980102539062)

(72.02400207519531, 672.1929931640625, 74.79288482666016, 685.8779907226562)
Sum assured
(72.02400207519531, 684.602783203125, 137.5488739013672, 698.3177490234375)

(72.02400207519531, 696.9129638671875, 74.79288482666016, 710.5980224609375)
You felt that an amount of £INSERT_54 would give you the financial security you need. As we can’t
(72.02400207519531, 709.3929443359375, 513.7572021484375, 723.0780029296875)
predict the financial impact of a critical illness, this amount may or may not be sufficient.
(72.02400207519531, 721.7529296875, 462.2288818359375, 735.43798828125)

(72.02400207519531, 734.22900390625, 74.79288482666016, 747.9140014648438)
Sum assured excess - minimum premium
(72.02400207519531, 746.5889892578125, 258.7789001464844, 760.2739868164062)

In [1017]:
import zipfile

In [1018]:
#soup = BeautifulSoup(xml_data, 'xml')
docx2 = 'Protection recommendations_1.docx'
document2 = zipfile.ZipFile(docx2)
xml_data = document2.read('word/document.xml')
soup = BeautifulSoup(xml_data, 'xml')

In [1019]:
#soup

In [1020]:
#with open("docsoup.json", 'w') as json_out:
    #json.dump(soup, json_out)

In [1021]:
#xml_input = open(k2,"r",encoding="utf-8")

ocr_lines = soup.findAll("span", {"class": "ocr_line"})
#We will save coordinates of line and the text contained in the line in lines_structure list
lines_structure = []
for line in ocr_lines:
    line_text = line.text.replace("\n"," ").strip()
    title = line['title']
    #The coordinates of the bounding box
    x1,y1,x2,y2 = map(int, title[5:title.find(";")].split())
    lines_structure.append({"x1":x1,"y1":y1,"x2":x2,"y2":y2,"text": line_text})

In [1022]:
lines_structure

[]

In [1023]:
import bs4
#xml_input = open("output_hocr.hocr","r",encoding="utf-8")
soup = bs4.BeautifulSoup(kxml,'lxml')
ocr_lines = soup.findAll("span", {"class": "ocr_line"})
#We will save coordinates of line and the text contained in the line in lines_structure list
lines_structure = []
for line in ocr_lines:
    line_text = line.text.replace("\n"," ").strip()
    title = line['title']
    #The coordinates of the bounding box
    x1,y1,x2,y2 = map(int, title[5:title.find(";")].split())
    lines_structure.append({"x1":x1,"y1":y1,"x2":x2,"y2":y2,"text": line_text})

NameError: name 'kxml' is not defined

In [1024]:
lines_structure

[]

In [1025]:
with open('/home/jupyter/doc.json') as json_file:
    data = json.load(json_file)

In [1026]:
datpdf = pd.DataFrame.from_dict(data)

In [1027]:
datpdf.head(50)

                                                    0
0                                                  ||
1                                                   |
2   <s2>HSBC UK Bank plc. Registered in England & ...
3   <s3>Authorised by the Prudential Regulation Au...
4
5                     <h1>Financial Planning Report |
6
7                 <h5>Elnaz Nobari ||||||||||||||||||
8   <p>Prepared by || INSERT adviser name and post...
9                                                   |
10
11                    <s3>Our reference: INSERT KRN |
12
13                                            <h8>2 |
14                                                  |
15                                 <h2>Introduction |
16
17  <p>Thank you for using the HSBC Premier Financ...
18                                              <s1>◆
19  <p>explain my recommendations and why my advic...
20                                              <s1>◆
21                 <p>confirm the costs and charges |
22                                              <s1>◆
23  <p>let you know of any risks, implications and...
24                                              <s1>◆
25  <p>outline the next steps. || You should read ...
26                                              <s1>◆
27                <p>Protecting you and your family |
28                                              <s1>◆
29                           <p>Retirement planning |
30                                              <s1>◆
31              <p>Managing and growing your wealth |
32                                              <s1>◆
33                      <p>Passing on your wealth |||
34                                                  |
35
36                    <s3>Our reference: INSERT KRN |
37
38                                            <h8>3 |
39
40                <h2>My protection recommendations |
41
42  <p>In this section I’ll explain my recommendat...
43                                                  |
44         <h5>Lifestyle protection for your family |
45                                                  |
46                            <p>INSERT free text |||
47  <p>Name | INSERT customer ‘known as’ name – de...
48  <p>Product | SELECT provider SELECT policy type |
49                               <p>SELECT | SELECT |

In [1028]:
p = ('/home/jupyter/FPR_01112020_all.xlsm')
df = pd.read_excel(
    p ,header = None
)

In [1029]:
len(df.columns)

12

In [1030]:
for i in range(0,len(df.columns)-1):
    df[i] = df[i].str.replace("\r", "")
#df.applymap(lambda x: x.replace("\r", ""))

In [1031]:
UniqueNames = df[2].unique()

In [1032]:
def unique_non_null(s):
    return s.dropna().unique()

In [1033]:
uns = unique_non_null(df[2])

In [1034]:
uns

array(['Introduction', 'My protection recommendations',
       'Money for investment', 'My SELECT recommendations',
       'My estate planning recommendations', 'Your agreed risk level',
       'Reason for your agreed risk level', 'SELECT information',
       'Other financial planning areas', 'My other recommendations ',
       'What this will cost you', 'Risks and implications ',
       'What else you need to know', 'Documents you should read',
       'Next steps'], dtype=object)

In [1035]:
import docx
from bs4 import BeautifulSoup
import zipfile

In [1265]:
docx2 = 'Protection recommendations_1.docx'

In [1266]:
bestand = docx.Document(docx2)
tabellen = bestand.tables

In [1267]:
alletabellen = []     
for i, tabel in enumerate(tabellen):
    for row in tabellen[i].rows:
        for cell in row.cells:
            for paragraph in cell.paragraphs:
                alletabellen.append(paragraph.text)

#get data from all the dropdown lists
import lxml.etree
docx2 = 'Protection recommendations_1.docx'
document2 = zipfile.ZipFile(docx2)
xml_data = document2.read('word/document.xml')

tree = lxml.etree.fromstring(xml_data)
document2.close()

In [1268]:
from docx.api import Document
document = Document('Protection recommendations_1.docx')
table = document.tables

In [1269]:
import docx
 
# open connection to Word Document
doc = docx.Document('Protection recommendations_1.docx')
 
# read in each paragraph in file
result = [[p.text] for p in doc.paragraphs]

In [1270]:

#result

In [1271]:
from docx2python import docx2python
 
# extract docx content
doc_result = docx2python('Protection recommendations_1.docx')
#doc_result.body
#doc_result.tables

In [1272]:
pd.DataFrame(doc_result.body[6][1:])

Empty DataFrame
Columns: []
Index: []

In [1273]:
pd.DataFrame(doc_result.body[1][1:]).\
                            applymap(lambda val: val[0].strip("\t"))

                   0                                1
0            Product  S_Field_1_0 Field_1 policy type
1            Field_2                          Field_3
2               Term                          Field_4
3            Premium                £INSERT_4 a month
4         Payable on                          Field_5
5  Trust recommended                          Field_6

In [1274]:
import pandas as pd
pd.DataFrame(doc_result.body[1][1:])

                     0                                  1
0            [Product]  [S_Field_1_0 Field_1 policy type]
1            [Field_2]                          [Field_3]
2               [Term]                          [Field_4]
3            [Premium]                [£INSERT_4 a month]
4         [Payable on]                          [Field_5]
5  [Trust recommended]                          [Field_6]

In [1275]:
from bs4 import BeautifulSoup
from html import escape
from html.parser import HTMLParser

class MyHTMLParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.__t = 0
        self.lines = []
        self.__current_line = ''
        self.__current_tag = ''

    @staticmethod
    def __attr_str(attrs):
        return ' '.join('{}="{}"'.format(name, escape(value)) for (name, value) in attrs)

    def handle_starttag(self, tag, attrs):
        if tag != self.__current_tag:
            self.lines += [self.__current_line]

        self.__current_line = '\t' * self.__t + '<{}>'.format(tag + (' ' + self.__attr_str(attrs) if attrs else ''))
        self.__current_tag = tag
        self.__t += 1

    def handle_endtag(self, tag):
        self.__t -= 1
        if tag != self.__current_tag:
            self.lines += [self.__current_line]
            self.lines += ['\t' * self.__t + '</{}>'.format(tag)]
        else:
            self.lines += [self.__current_line + '</{}>'.format(tag)]

        self.__current_line = ''

    def handle_data(self, data):
        self.__current_line += data

    def get_parsed_string(self):
        return '\n'.join(l for l in self.lines if l)

In [1276]:
parser = MyHTMLParser()
#print('custom html parser:')
#print('*' * 80)
parser.feed(str(soup))
#print(parser.get_parsed_string())

In [1277]:
soup = BeautifulSoup(xml_data, 'xml')
gegevens = soup.findAll('listItem')     #search dropdownlists (n = 12)

dropdownlist = []
dropdownlistdata = []

#for i in gegevens:
    #print(i)#dropdownlist.append(i.find('value'))

In [1278]:
cbox = []
pbox = []
divs = soup.find_all('sdt')
for div in divs:
    kaleh = div('sdtPr')
    pacheh = div('sdtContent')
    if (len(kaleh) == len(pacheh)):
        for i in range(0,len(kaleh)):
            k1 = kaleh[i]('comboBox')
            p1 = pacheh[i]('r')
            if k1!=[] and  p1!=[] :
                for kav in k1:
                    k2 =  [num["w:value"] for num in kav]
                    cbox.append(k2)
###here p1[0] was chosen as manual inspection 
                for kp in p1:
                    for div in kp('t'):
                        pres = (div.text)
                        pbox.append(pres)

In [1279]:
dropdown_result = [list(x) for x in zip(cbox, pbox)]

In [1280]:
for res22 in dropdown_result:
    res22[0].pop(0)

In [1281]:
dropdown_result[33]

[['Yes', 'No'], 'Field_18']

In [1282]:
from fuzzywuzzy import fuzz

In [1283]:
divs = soup.find_all('tbl')

In [1284]:
#divs

In [1417]:
k_tables = []
k_all_tbl = []
divs = soup.find_all('tbl')
#print(divs)
for i in range(0,len(divs)):
    k_tables = []
    tbl = divs[i]
    #print(tbl, "____")
    rows = divs[i]('tr')
    #print(rows)
    for ii in range(0, len(divs[i]('tr'))):
        #row in rows:
        columns = divs[i]('tr')[ii]('tc')
        #print(columns)
        k2 =  [[num2.contents for num2 in num("t") ] for num in columns]
        k_tables.append(k2)
    #print(k_tables,"___________________________")
    k_all_tbl.append(k_tables)
#k_all_tbl

In [1418]:
#divs[1]('tr')[1]('tc')[1]('t')[4].contents
k_a2 = unlevel(k_all_tbl)

In [1419]:
k_a2[4]

[['Name', 'INSERT_67'],
 ['Product', ['S_Field_50_49', ' Income Protection Policy']],
 ['Benefit amount',
  ['£',
   'INSERT_68',
   ' a month payable after ',
   'INSERT_69',
   ' ',
   'Field_42',
   'Multiple',
   ' £',
   'INSERT_70',
   ' a month payable after ',
   'INSERT_71',
   ' ',
   'Field_43']],
 ['Term', 'Field_44'],
 ['Premium', ['£', 'INSERT_72', ' a month']]]

In [1420]:
k_all_tbl[-1][0]
k_all_tbl[-2]

[[[['Name']], [['INSERT_113']]],
 [[['Product']],
  [['INSERT_114'], [' '], ['S_Field_87_86'], [' '], ['INSERT_115']]],
 [[['Sum assured']], [['£'], ['INSERT_116']]],
 [[['Term']], [['INSERT_117'], [' years '], ['INSERT_118']]],
 [[['Premium']], [['£'], ['INSERT_119'], [' a month']]],
 [[['In trust']], [['Field_73']]]]

In [1421]:
#k_all_tbl = unlevel(k_all_tbl)
if len(k_all_tbl[-1]) ==1 :
    k_all_tbl[-2].append(k_all_tbl[-1][0])
#k_all_tbl.remove(k_all_tbl[-1])
k_all_tbl.remove(k_all_tbl[-1])
k_all_tbl
print("CHECK WHY THERE is row 1 size table")

CHECK WHY THERE is row 1 size table

In [1422]:
k_all_tbl

[[[[['Name']], [['INSERT_3']]],
  [[['Product']], [['S_Field_1_0'], [' '], ['Field_1 policy type']]],
  [[['Field_2']], [['Field_3']]],
  [[['Term']], [['Field_4']]],
  [[['Premium']], [['£'], ['INSERT_4'], [' a month']]],
  [[['Payable on']], [['Field_5']]],
  [[['Trust recommended']], [['Field_6']]]],
 [[[['Name']], [['INSERT_9']]],
  [[['Product']],
   [['INSERT_10'], [' '], ['S_Field_19_18'], [' '], ['INSERT_11']]],
  [[['Sum assured']], [['£'], ['INSERT_12']]],
  [[['Term']], [['INSERT_13'], [' years '], ['INSERT_14']]],
  [[['Premium']], [['£'], ['INSERT_15'], [' a month']]],
  [[['In trust']], [['Field_17']]],
  [[['Guaranteed insurability option available']], [['Field_18']]]],
 [[[['Name']], [['INSERT_40']]],
  [[['Product']], [['S_Field_34_33'], [' Level Critical Illness Cover']]],
  [[['Sum assured']], [['£'], ['INSERT_41']]],
  [[['Term']], [['Field_30']]],
  [[['Premium']], [['£'], ['INSERT_42'], [' a month']]]],
 [[[['Name']], [['INSERT_46']]],
  [[['Product']], [['INSERT_47'], [' '], ['INSERT_48']]],
  [[['Sum assured']], [['£'], ['INSERT_49']]],
  [[['Term']], [['INSERT_50'], [' years '], ['INSERT_51']]],
  [[['Premium']], [['£'], ['INSERT_52'], [' a month']]],
  [[['Guaranteed insurability option available']], [['S_FIELD_43_42']]]],
 [[[['Name']], [['INSERT_67']]],
  [[['Product']], [['S_Field_50_49'], [' Income Protection Policy']]],
  [[['Benefit amount']],
   [['£'],
    ['INSERT_68'],
    [' a month payable after '],
    ['INSERT_69'],
    [' '],
    ['Field_42'],
    ['Multiple'],
    [' £'],
    ['INSERT_70'],
    [' a month payable after '],
    ['INSERT_71'],
    [' '],
    ['Field_43']]],
  [[['Term']], [['Field_44']]],
  [[['Premium']], [['£'], ['INSERT_72'], [' a month']]]],
 [[[['Name']], [['INSERT_73']]],
  [[['Product']],
   [['INSERT_74'], [' Income Protection Policy'], ['INSERT_75']]],
  [[['Benefit amount']],
   [['£'],
    ['INSERT_76'],
    [' a month payable after '],
    ['INSERT_77'],
    [' '],
    ['S_FIELD_58_57'],
    ['Multiple'],
    [' £'],
    ['INSERT_78'],
    [' a month payable after '],
    ['INSERT_79'],
    [' '],
    ['Field_48']]],
  [[['Term']], [['Field_49']]],
  [[['Premium']], [['£'], ['INSERT_80'], [' a month']]],
  [[['Guaranteed insurability option available']], [['Field_50']]]],
 [[[['Name']], [['INSERT_106']]],
  [[['Product']],
   [['S_FIELD_74_73'], [' provider'], [' '], ['Field_62 policy type'], [' ']]],
  [[['Sum assured']], [['£'], ['INSERT_107']]],
  [[['Term']], [['INSERT_108'], [' years']]],
  [[['Premium']], [['£'], ['INSERT_109'], [' a month']]],
  [[['Payable on']], [['Field_63']]],
  [[['Trust recommended']], [['Field_64']]]],
 [[[['Name']], [['INSERT_113']]],
  [[['Product']],
   [['INSERT_114'], [' '], ['S_Field_87_86'], [' '], ['INSERT_115']]],
  [[['Sum assured']], [['£'], ['INSERT_116']]],
  [[['Term']], [['INSERT_117'], [' years '], ['INSERT_118']]],
  [[['Premium']], [['£'], ['INSERT_119'], [' a month']]],
  [[['In trust']], [['Field_73']]],
  [[['Guaranteed insurability option available']], [['Field_74']]]]]

In [1423]:
#def unlistmyhart(l):
    #if len(l) ==1:
    #while isinstance(l, list) == True:
       # if len(l) ==1:
           # l = l[0]
            #continue
        #if len(l)>1:
            #for ik in range(0,len(l)):
               # if isinstance(l[ik], list) == True :
                        #l[ik] = unlistmyhart(l[ik])
                        #print(l)
                        #continue
               
        #else:
                    #break
                        #or len(l)>1:
                    
            #break
    #return(l)

In [1424]:
def product(llist):
    result = [[]]

    for lst in llist:
        result = [x + [y] for x in result for y in lst]

    return result

def product2(llist):
    result = [[]]
    for lst in llist:
        new_result = [] # let's manually build out new result
        for existing in result:            
            for element in lst:
                new_result.append(existing + [element])
        result = new_result # update result for next lst
    return result

In [1425]:
k_all_tbl[0][1][1][0]

['S_Field_1_0']

In [1428]:
for ik in range(0,len(k_all_tbl)):
    #print(1)
    #loop through lists inside nested list -if single element list is nested, remove list before comparison, if more than 1 element keep list, and iterativley compare
    for ikk in range(0,len(k_all_tbl[ik])):
        for ikkk in range(0,(len (k_all_tbl[ik][ikk]))):
                for res1 in dropdown_result:
                    k_all_tbl[ik][ikk][ikkk] = unlevel(k_all_tbl[ik][ikk][ikkk])
                    if k_all_tbl[ik][ikk][ikkk] == res1[1]:
                        k_all_tbl[ik][ikk][ikkk] = res1[0]
                        
                            
                                    
                                
                        #print((k_all_tbl[ik][ikk][ikkk][ikkkk]))
                    if len(k_all_tbl[ik][ikk][ikkk]) >1:
                        for ikkkk in range(0,(len (k_all_tbl[ik][ikk][ikkk]))):
                                    if k_all_tbl[ik][ikk][ikkk][ikkkk] == res1[1]:
                                        k_all_tbl[ik][ikk][ikkk][ikkkk] = res1 [0]
                                        print(product(k_all_tbl[ik][ikk][ikkk]))
                                        
                                        #new_result=[]
                                        #for jj in range(0,len(k_all_tbl[ik][ikk][ikkk][ikkkk])):
                                            #new_result=[]
                                            #print(k_all_tbl[ik][ikk][ikkk][ikkkk][jj])
                                            #new_result = k_all_tbl[ik][ikk][ikkk][ikkkk]
                                            #new_result = k_all_tbl[ik][ikk][ikkk][ikkkk][jj]
                                            #print(new_result)
                                            #k_all_tbl[ik][ikk][ikkk].append(new_result)

In [1429]:
k_all_tbl[0][1][1]

[['Zurich', 'Aviva', 'HSBC', 'Zurich'],
 ' ',
 ['Level Life Cover', 'Family Income Benefit', 'Family Income Benefit'],
 'Zurich',
 'Aviva',
 'HSBC',
 'Zurich',
 'Level Life Cover',
 'Family Income Benefit',
 'Family Income Benefit']

In [1336]:
#(k_all_tbl[0][1][1][0]) == dropdown_result[7][1]

In [1337]:
#dropdown_result[7][1]

In [1338]:
#dropdown_result

In [1339]:
#k_all_tbl.replace({'[':''}, regex=True)

In [1341]:
way

                     Field                             Value
3                     Name                      Elnaz Nobari
4                  Product  potatoe Level Life Cover tomatoe
5              Sum assured                               £13
6                     Term            200 years 10 millenium
7                  Premium                      £400 a month
8                 In trust                               Yes
9  Guaranteed insurability                                No

In [1353]:
df = pd.DataFrame()
dataframe = []
#dataframe.append(None)
for ilk in range(0,len(k_all_tbl)):
    
    df = pd.DataFrame(k_all_tbl[ilk])
    df.columns = ['Field','Value']
    for cols in df:
        for irow in range(0,len(df[cols])):
            #while isinstance(df[cols][irow], list) == True and len(df[cols][irow])==1:
                df[cols][irow] = unlevel(df[cols][irow])
                   # continue
                    #if isinstance(df[cols][irow], list) == False or len(df[cols][irow])>1 :
                        #break
    dataframe.append(df)

In [1343]:
dataframe[2]

         Field                                              Value
0         Name                                          INSERT_40
1      Product  [[Aegon, Aviva Core, Aviva Upgraded+, HSBC],  ...
2  Sum assured                                     [£, INSERT_41]
3         Term      [ii_Field_362_1 years, to age ii_Field_363_2]
4      Premium                           [£, INSERT_42,  a month]

In [1344]:
import itertools
import collections
from collections.abc import Iterable

In [1345]:
list_df = dataframe[2].values.tolist()
flatten = lambda *n: (e for a in n
        for e in (flatten(*a) if isinstance(a, (tuple, list)) else (a,)))

#l1 = (list(flatten(list_df)))
list_df

[['Name', 'INSERT_40'],
 ['Product',
  [['Aegon', 'Aviva Core', 'Aviva Upgraded+', 'HSBC'],
   ' Level Critical Illness Cover']],
 ['Sum assured', ['£', 'INSERT_41']],
 ['Term', ['ii_Field_362_1 years', 'to age ii_Field_363_2']],
 ['Premium', ['£', 'INSERT_42', ' a month']]]

In [1329]:
target = way.values.tolist()
for i in range(0,len(dataframe)):
    list_df=[]
    
    list_df = dataframe[i].values.tolist()
    flatten = lambda *n: (e for a in n
        for e in (flatten(*a) if isinstance(a, (tuple, list)) else (a,)))

    l1 = (list(flatten(list_df)))
    l2 = list(flatten(target))
    var1 = set(l1) & set(l2)
    print(var1)

{'Yes', 'Name', 'Sum assured', 'Premium', 'No', 'Product', 'Term'}
{'Yes', 'Name', 'Sum assured', 'Premium', 'In trust', 'No', 'Product', 'Term'}
{'Sum assured', 'Name', 'Premium', 'Term', 'Product'}
{'Yes', 'Name', 'Sum assured', 'Premium', 'No', 'Product', 'Term'}
{'Term', 'Name', 'Product', 'Premium'}
{'Yes', 'Name', 'Premium', 'No', 'Product', 'Term'}
{'Yes', 'Name', 'Sum assured', 'Premium', 'No', 'Product', 'Term'}
{'Yes', 'Name', 'Sum assured', 'Premium', 'In trust', 'No', 'Product', 'Term'}

In [1354]:
dataframe[1].Value[1]

['INSERT_10',
 ' ',
 ['Level Life Cover', 'Family Income Benefit', 'Whole of Life Cover'],
 ' ',
 'INSERT_11']

In [1355]:
for elem in range(0,len(dataframe[1].Value[1])):
    if isinstance(dataframe[1].Value[1][elem], list) == False :
        dataframe[1].Value[1][elem] = list.append(dataframe[1].Value[1][elem])
dataframe[1].Value[1]

TypeError: descriptor 'append' requires a 'list' object but received a 'NavigableString'

In [1298]:
product(dataframe[1].Value[1])

[['I', ' ', 'Level Life Cover', ' ', 'I'],
 ['I', ' ', 'Level Life Cover', ' ', 'N'],
 ['I', ' ', 'Level Life Cover', ' ', 'S'],
 ['I', ' ', 'Level Life Cover', ' ', 'E'],
 ['I', ' ', 'Level Life Cover', ' ', 'R'],
 ['I', ' ', 'Level Life Cover', ' ', 'T'],
 ['I', ' ', 'Level Life Cover', ' ', '_'],
 ['I', ' ', 'Level Life Cover', ' ', '1'],
 ['I', ' ', 'Level Life Cover', ' ', '1'],
 ['I', ' ', 'Family Income Benefit', ' ', 'I'],
 ['I', ' ', 'Family Income Benefit', ' ', 'N'],
 ['I', ' ', 'Family Income Benefit', ' ', 'S'],
 ['I', ' ', 'Family Income Benefit', ' ', 'E'],
 ['I', ' ', 'Family Income Benefit', ' ', 'R'],
 ['I', ' ', 'Family Income Benefit', ' ', 'T'],
 ['I', ' ', 'Family Income Benefit', ' ', '_'],
 ['I', ' ', 'Family Income Benefit', ' ', '1'],
 ['I', ' ', 'Family Income Benefit', ' ', '1'],
 ['I', ' ', 'Whole of Life Cover', ' ', 'I'],
 ['I', ' ', 'Whole of Life Cover', ' ', 'N'],
 ['I', ' ', 'Whole of Life Cover', ' ', 'S'],
 ['I', ' ', 'Whole of Life Cover', ' ', 'E'],
 ['I', ' ', 'Whole of Life Cover', ' ', 'R'],
 ['I', ' ', 'Whole of Life Cover', ' ', 'T'],
 ['I', ' ', 'Whole of Life Cover', ' ', '_'],
 ['I', ' ', 'Whole of Life Cover', ' ', '1'],
 ['I', ' ', 'Whole of Life Cover', ' ', '1'],
 ['N', ' ', 'Level Life Cover', ' ', 'I'],
 ['N', ' ', 'Level Life Cover', ' ', 'N'],
 ['N', ' ', 'Level Life Cover', ' ', 'S'],
 ['N', ' ', 'Level Life Cover', ' ', 'E'],
 ['N', ' ', 'Level Life Cover', ' ', 'R'],
 ['N', ' ', 'Level Life Cover', ' ', 'T'],
 ['N', ' ', 'Level Life Cover', ' ', '_'],
 ['N', ' ', 'Level Life Cover', ' ', '1'],
 ['N', ' ', 'Level Life Cover', ' ', '1'],
 ['N', ' ', 'Family Income Benefit', ' ', 'I'],
 ['N', ' ', 'Family Income Benefit', ' ', 'N'],
 ['N', ' ', 'Family Income Benefit', ' ', 'S'],
 ['N', ' ', 'Family Income Benefit', ' ', 'E'],
 ['N', ' ', 'Family Income Benefit', ' ', 'R'],
 ['N', ' ', 'Family Income Benefit', ' ', 'T'],
 ['N', ' ', 'Family Income Benefit', ' ', '_'],
 ['N', ' ', 'Family Income Benefit', ' ', '1'],
 ['N', ' ', 'Family Income Benefit', ' ', '1'],
 ['N', ' ', 'Whole of Life Cover', ' ', 'I'],
 ['N', ' ', 'Whole of Life Cover', ' ', 'N'],
 ['N', ' ', 'Whole of Life Cover', ' ', 'S'],
 ['N', ' ', 'Whole of Life Cover', ' ', 'E'],
 ['N', ' ', 'Whole of Life Cover', ' ', 'R'],
 ['N', ' ', 'Whole of Life Cover', ' ', 'T'],
 ['N', ' ', 'Whole of Life Cover', ' ', '_'],
 ['N', ' ', 'Whole of Life Cover', ' ', '1'],
 ['N', ' ', 'Whole of Life Cover', ' ', '1'],
 ['S', ' ', 'Level Life Cover', ' ', 'I'],
 ['S', ' ', 'Level Life Cover', ' ', 'N'],
 ['S', ' ', 'Level Life Cover', ' ', 'S'],
 ['S', ' ', 'Level Life Cover', ' ', 'E'],
 ['S', ' ', 'Level Life Cover', ' ', 'R'],
 ['S', ' ', 'Level Life Cover', ' ', 'T'],
 ['S', ' ', 'Level Life Cover', ' ', '_'],
 ['S', ' ', 'Level Life Cover', ' ', '1'],
 ['S', ' ', 'Level Life Cover', ' ', '1'],
 ['S', ' ', 'Family Income Benefit', ' ', 'I'],
 ['S', ' ', 'Family Income Benefit', ' ', 'N'],
 ['S', ' ', 'Family Income Benefit', ' ', 'S'],
 ['S', ' ', 'Family Income Benefit', ' ', 'E'],
 ['S', ' ', 'Family Income Benefit', ' ', 'R'],
 ['S', ' ', 'Family Income Benefit', ' ', 'T'],
 ['S', ' ', 'Family Income Benefit', ' ', '_'],
 ['S', ' ', 'Family Income Benefit', ' ', '1'],
 ['S', ' ', 'Family Income Benefit', ' ', '1'],
 ['S', ' ', 'Whole of Life Cover', ' ', 'I'],
 ['S', ' ', 'Whole of Life Cover', ' ', 'N'],
 ['S', ' ', 'Whole of Life Cover', ' ', 'S'],
 ['S', ' ', 'Whole of Life Cover', ' ', 'E'],
 ['S', ' ', 'Whole of Life Cover', ' ', 'R'],
 ['S', ' ', 'Whole of Life Cover', ' ', 'T'],
 ['S', ' ', 'Whole of Life Cover', ' ', '_'],
 ['S', ' ', 'Whole of Life Cover', ' ', '1'],
 ['S', ' ', 'Whole of Life Cover', ' ', '1'],
 ['E', ' ', 'Level Life Cover', ' ', 'I'],
 ['E', ' ', 'Level Life Cover', ' ', 'N'],
 ['E', ' ', 'Level Life Cover', ' ', 'S'],
 ['E', ' ', 'Level Life Cover', ' ', 'E'],
 ['E', ' ', 'Level Life Cover', ' ', 'R'],
 ['E', ' ', 'Level Life Cover', ' ', 'T'],
 ['E', ' ', 'Level Life Cover', ' ', '_'],
 ['E', ' ', 'Level Life Cover', ' ', '1'],
 ['E', ' ', 'Level Life Cover', ' ', '1'],
 ['E', ' ', 'Family Income Benefit', ' ', 'I'],
 ['E', ' ', 'Family Income Benefit', ' ', 'N'],
 ['E', ' ', 'Family Income Benefit', ' ', 'S'],
 ['E', ' ', 'Family Income Benefit', ' ', 'E'],
 ['E', ' ', 'Family Income Benefit', ' ', 'R'],
 ['E', ' ', 'Family Income Benefit', ' ', 'T'],
 ['E', ' ', 'Family Income Benefit', ' ', '_'],
 ['E', ' ', 'Family Income Benefit', ' ', '1'],
 ['E', ' ', 'Family Income Benefit', ' ', '1'],
 ['E', ' ', 'Whole of Life Cover', ' ', 'I'],
 ['E', ' ', 'Whole of Life Cover', ' ', 'N'],
 ['E', ' ', 'Whole of Life Cover', ' ', 'S'],
 ['E', ' ', 'Whole of Life Cover', ' ', 'E'],
 ['E', ' ', 'Whole of Life Cover', ' ', 'R'],
 ['E', ' ', 'Whole of Life Cover', ' ', 'T'],
 ['E', ' ', 'Whole of Life Cover', ' ', '_'],
 ['E', ' ', 'Whole of Life Cover', ' ', '1'],
 ['E', ' ', 'Whole of Life Cover', ' ', '1'],
 ['R', ' ', 'Level Life Cover', ' ', 'I'],
 ['R', ' ', 'Level Life Cover', ' ', 'N'],
 ['R', ' ', 'Level Life Cover', ' ', 'S'],
 ['R', ' ', 'Level Life Cover', ' ', 'E'],
 ['R', ' ', 'Level Life Cover', ' ', 'R'],
 ['R', ' ', 'Level Life Cover', ' ', 'T'],
 ['R', ' ', 'Level Life Cover', ' ', '_'],
 ['R', ' ', 'Level Life Cover', ' ', '1'],
 ['R', ' ', 'Level Life Cover', ' ', '1'],
 ['R', ' ', 'Family Income Benefit', ' ', 'I'],
 ['R', ' ', 'Family Income Benefit', ' ', 'N'],
 ['R', ' ', 'Family Income Benefit', ' ', 'S'],
 ['R', ' ', 'Family Income Benefit', ' ', 'E'],
 ['R', ' ', 'Family Income Benefit', ' ', 'R'],
 ['R', ' ', 'Family Income Benefit', ' ', 'T'],
 ['R', ' ', 'Family Income Benefit', ' ', '_'],
 ['R', ' ', 'Family Income Benefit', ' ', '1'],
 ['R', ' ', 'Family Income Benefit', ' ', '1'],
 ['R', ' ', 'Whole of Life Cover', ' ', 'I'],
 ['R', ' ', 'Whole of Life Cover', ' ', 'N'],
 ['R', ' ', 'Whole of Life Cover', ' ', 'S'],
 ['R', ' ', 'Whole of Life Cover', ' ', 'E'],
 ['R', ' ', 'Whole of Life Cover', ' ', 'R'],
 ['R', ' ', 'Whole of Life Cover', ' ', 'T'],
 ['R', ' ', 'Whole of Life Cover', ' ', '_'],
 ['R', ' ', 'Whole of Life Cover', ' ', '1'],
 ['R', ' ', 'Whole of Life Cover', ' ', '1'],
 ['T', ' ', 'Level Life Cover', ' ', 'I'],
 ['T', ' ', 'Level Life Cover', ' ', 'N'],
 ['T', ' ', 'Level Life Cover', ' ', 'S'],
 ['T', ' ', 'Level Life Cover', ' ', 'E'],
 ['T', ' ', 'Level Life Cover', ' ', 'R'],
 ['T', ' ', 'Level Life Cover', ' ', 'T'],
 ['T', ' ', 'Level Life Cover', ' ', '_'],
 ['T', ' ', 'Level Life Cover', ' ', '1'],
 ['T', ' ', 'Level Life Cover', ' ', '1'],
 ['T', ' ', 'Family Income Benefit', ' ', 'I'],
 ['T', ' ', 'Family Income Benefit', ' ', 'N'],
 ['T', ' ', 'Family Income Benefit', ' ', 'S'],
 ['T', ' ', 'Family Income Benefit', ' ', 'E'],
 ['T', ' ', 'Family Income Benefit', ' ', 'R'],
 ['T', ' ', 'Family Income Benefit', ' ', 'T'],
 ['T', ' ', 'Family Income Benefit', ' ', '_'],
 ['T', ' ', 'Family Income Benefit', ' ', '1'],
 ['T', ' ', 'Family Income Benefit', ' ', '1'],
 ['T', ' ', 'Whole of Life Cover', ' ', 'I'],
 ['T', ' ', 'Whole of Life Cover', ' ', 'N'],
 ['T', ' ', 'Whole of Life Cover', ' ', 'S'],
 ['T', ' ', 'Whole of Life Cover', ' ', 'E'],
 ['T', ' ', 'Whole of Life Cover', ' ', 'R'],
 ['T', ' ', 'Whole of Life Cover', ' ', 'T'],
 ['T', ' ', 'Whole of Life Cover', ' ', '_'],
 ['T', ' ', 'Whole of Life Cover', ' ', '1'],
 ['T', ' ', 'Whole of Life Cover', ' ', '1'],
 ['_', ' ', 'Level Life Cover', ' ', 'I'],
 ['_', ' ', 'Level Life Cover', ' ', 'N'],
 ['_', ' ', 'Level Life Cover', ' ', 'S'],
 ['_', ' ', 'Level Life Cover', ' ', 'E'],
 ['_', ' ', 'Level Life Cover', ' ', 'R'],
 ['_', ' ', 'Level Life Cover', ' ', 'T'],
 ['_', ' ', 'Level Life Cover', ' ', '_'],
 ['_', ' ', 'Level Life Cover', ' ', '1'],
 ['_', ' ', 'Level Life Cover', ' ', '1'],
 ['_', ' ', 'Family Income Benefit', ' ', 'I'],
 ['_', ' ', 'Family Income Benefit', ' ', 'N'],
 ['_', ' ', 'Family Income Benefit', ' ', 'S'],
 ['_', ' ', 'Family Income Benefit', ' ', 'E'],
 ['_', ' ', 'Family Income Benefit', ' ', 'R'],
 ['_', ' ', 'Family Income Benefit', ' ', 'T'],
 ['_', ' ', 'Family Income Benefit', ' ', '_'],
 ['_', ' ', 'Family Income Benefit', ' ', '1'],
 ['_', ' ', 'Family Income Benefit', ' ', '1'],
 ['_', ' ', 'Whole of Life Cover', ' ', 'I'],
 ['_', ' ', 'Whole of Life Cover', ' ', 'N'],
 ['_', ' ', 'Whole of Life Cover', ' ', 'S'],
 ['_', ' ', 'Whole of Life Cover', ' ', 'E'],
 ['_', ' ', 'Whole of Life Cover', ' ', 'R'],
 ['_', ' ', 'Whole of Life Cover', ' ', 'T'],
 ['_', ' ', 'Whole of Life Cover', ' ', '_'],
 ['_', ' ', 'Whole of Life Cover', ' ', '1'],
 ['_', ' ', 'Whole of Life Cover', ' ', '1'],
 ['1', ' ', 'Level Life Cover', ' ', 'I'],
 ['1', ' ', 'Level Life Cover', ' ', 'N'],
 ['1', ' ', 'Level Life Cover', ' ', 'S'],
 ['1', ' ', 'Level Life Cover', ' ', 'E'],
 ['1', ' ', 'Level Life Cover', ' ', 'R'],
 ['1', ' ', 'Level Life Cover', ' ', 'T'],
 ['1', ' ', 'Level Life Cover', ' ', '_'],
 ['1', ' ', 'Level Life Cover', ' ', '1'],
 ['1', ' ', 'Level Life Cover', ' ', '1'],
 ['1', ' ', 'Family Income Benefit', ' ', 'I'],
 ['1', ' ', 'Family Income Benefit', ' ', 'N'],
 ['1', ' ', 'Family Income Benefit', ' ', 'S'],
 ['1', ' ', 'Family Income Benefit', ' ', 'E'],
 ['1', ' ', 'Family Income Benefit', ' ', 'R'],
 ['1', ' ', 'Family Income Benefit', ' ', 'T'],
 ['1', ' ', 'Family Income Benefit', ' ', '_'],
 ['1', ' ', 'Family Income Benefit', ' ', '1'],
 ['1', ' ', 'Family Income Benefit', ' ', '1'],
 ['1', ' ', 'Whole of Life Cover', ' ', 'I'],
 ['1', ' ', 'Whole of Life Cover', ' ', 'N'],
 ['1', ' ', 'Whole of Life Cover', ' ', 'S'],
 ['1', ' ', 'Whole of Life Cover', ' ', 'E'],
 ['1', ' ', 'Whole of Life Cover', ' ', 'R'],
 ['1', ' ', 'Whole of Life Cover', ' ', 'T'],
 ['1', ' ', 'Whole of Life Cover', ' ', '_'],
 ['1', ' ', 'Whole of Life Cover', ' ', '1'],
 ['1', ' ', 'Whole of Life Cover', ' ', '1'],
 ['0', ' ', 'Level Life Cover', ' ', 'I'],
 ['0', ' ', 'Level Life Cover', ' ', 'N'],
 ['0', ' ', 'Level Life Cover', ' ', 'S'],
 ['0', ' ', 'Level Life Cover', ' ', 'E'],
 ['0', ' ', 'Level Life Cover', ' ', 'R'],
 ['0', ' ', 'Level Life Cover', ' ', 'T'],
 ['0', ' ', 'Level Life Cover', ' ', '_'],
 ['0', ' ', 'Level Life Cover', ' ', '1'],
 ['0', ' ', 'Level Life Cover', ' ', '1'],
 ['0', ' ', 'Family Income Benefit', ' ', 'I'],
 ['0', ' ', 'Family Income Benefit', ' ', 'N'],
 ['0', ' ', 'Family Income Benefit', ' ', 'S'],
 ['0', ' ', 'Family Income Benefit', ' ', 'E'],
 ['0', ' ', 'Family Income Benefit', ' ', 'R'],
 ['0', ' ', 'Family Income Benefit', ' ', 'T'],
 ['0', ' ', 'Family Income Benefit', ' ', '_'],
 ['0', ' ', 'Family Income Benefit', ' ', '1'],
 ['0', ' ', 'Family Income Benefit', ' ', '1'],
 ['0', ' ', 'Whole of Life Cover', ' ', 'I'],
 ['0', ' ', 'Whole of Life Cover', ' ', 'N'],
 ['0', ' ', 'Whole of Life Cover', ' ', 'S'],
 ['0', ' ', 'Whole of Life Cover', ' ', 'E'],
 ['0', ' ', 'Whole of Life Cover', ' ', 'R'],
 ['0', ' ', 'Whole of Life Cover', ' ', 'T'],
 ['0', ' ', 'Whole of Life Cover', ' ', '_'],
 ['0', ' ', 'Whole of Life Cover', ' ', '1'],
 ['0', ' ', 'Whole of Life Cover', ' ', '1']]

In [1218]:
dataframe[1].Value[2]

['£', 'INSERT_12']

In [1219]:
dataframe[1].Value[3]

['INSERT_13', ' years ', 'INSERT_14']

In [1220]:
dataframe[1].Value[4]

['£', 'INSERT_15', ' a month']

In [1221]:
dataframe[1].Value[5]

['Yes', 'No']

In [1223]:
dataframe[0].Field

0                             Name
1                          Product
2    [Sum assured, Benefit amount]
3                             Term
4                          Premium
5                       Payable on
6                Trust recommended
Name: Field, dtype: object

In [1224]:
dataframe[0].Value

0                                             INSERT_3
1    [[Aegon, Aviva, HSBC, Zurich],  , [Level Life ...
2             [£ii_Field_52_1, £ii_Field_53_2 a month]
3    [ii_Field_62_1 years, to age ii_Field_63_2, Wh...
4                              [£, INSERT_4,  a month]
5                                 [Death, First death]
6                                            [Yes, No]
Name: Value, dtype: object

In [1201]:
template_df =[]
myset1 = set(way.Field)
#print(myset1)
pdf_list = way.Field #list(myset1)
inp_tbl = way.Field #pdf_list
for i in range(0, len(dataframe)):

    tmpl_list=[]
    tmpl_list = list(dataframe[i].Field)

    #for gg in range(0,len(tmpl_list)):
        #if isinstance(tmpl_list[gg], list) == False:
            #tmpl_list[gg]= list(tmpl_list[gg])



    #lst = [['a'], ['b', 'c'], ['d', ['e', 'f']]]
    outp = list(itertools.product(tmpl_list))
    #print(outp)
    out = []
    for i in outp:
        temp = []
        for j in i:
            #print(j)
            if isinstance(j, list):
                for k in j:
                    temp.append(k)
            else:
                temp.append(j)
        out.append(temp)
    #print(out)

    tmpl_list2  = out

    outp = list(itertools.product(*tmpl_list2))
    #print(outp)
    out = []
    for i in outp:
        temp = []
        for j in i:
            if isinstance(j, list):
                for k in j:
                    temp.append(k)
            else:
                temp.append(j)
        out.append(temp)
    template_df.append(out) 
    #return template_df

In [1213]:
template_df[0]

[['Name',
  'Product',
  'Sum assured',
  'Term',
  'Premium',
  'Payable on',
  'Trust recommended'],
 ['Name',
  'Product',
  'Benefit amount',
  'Term',
  'Premium',
  'Payable on',
  'Trust recommended']]

In [1204]:
template_v_df =[]
myset1 = set(way.Field)
#print(myset1)
#pdf_list = list(myset1)
pdf_list = way.Field

for i in range(len(dataframe)):
    tmpl_list=[]
    tmpl_list2 =[]
    out=[]
    tmpl_list = list(dataframe[i].Value)

    #for gg in range(0,len(tmpl_list)):
        #if isinstance(tmpl_list[gg], list) == False:
            #tmpl_list[gg]= list(tmpl_list[gg])


    import itertools
    #lst = [['a'], ['b', 'c'], ['d', ['e', 'f']]]
    outp = list(itertools.product(tmpl_list))
    out = []
    for i in outp:
        temp = []
        for j in i:
            if isinstance(j, list):
                for k in j:
                    temp.append(k)
            else:
                temp.append(j)
        out.append(temp)
    #print(out)

    tmpl_list2  = out

    outp = list(itertools.product(*tmpl_list2))
    out = []
    for i in outp:
        temp = []
        for j in i:
            if isinstance(j, list):
                for k in j:
                    temp.append(k)
            else:
                temp.append(j)
        out.append(temp)
        #print(out)
    template_v_df.append(out) 
    #return template_df

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [1214]:
template_v_df[0]

[['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  '£',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  '£',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  '£',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  '£',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  'INSERT_4',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  'INSERT_4',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  'INSERT_4',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  'INSERT_4',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  ' a month',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  ' a month',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  ' a month',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  ' a month',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  '£',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  '£',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  '£',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  '£',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  'INSERT_4',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  'INSERT_4',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  'INSERT_4',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  'INSERT_4',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  ' a month',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  ' a month',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  ' a month',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  ' a month',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'Whole of life',
  '£',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'Whole of life',
  '£',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'Whole of life',
  '£',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'Whole of life',
  '£',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'Whole of life',
  'INSERT_4',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'Whole of life',
  'INSERT_4',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'Whole of life',
  'INSERT_4',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'Whole of life',
  'INSERT_4',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'Whole of life',
  ' a month',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'Whole of life',
  ' a month',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'Whole of life',
  ' a month',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'Whole of life',
  ' a month',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  '£',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  '£',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  '£',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  '£',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  'INSERT_4',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  'INSERT_4',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  'INSERT_4',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  'INSERT_4',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  ' a month',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  ' a month',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  ' a month',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  ' a month',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  '£',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  '£',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  '£',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  '£',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  'INSERT_4',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  'INSERT_4',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  'INSERT_4',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  'INSERT_4',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  ' a month',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  ' a month',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  ' a month',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  ' a month',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'Whole of life',
  '£',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'Whole of life',
  '£',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'Whole of life',
  '£',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'Whole of life',
  '£',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'Whole of life',
  'INSERT_4',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'Whole of life',
  'INSERT_4',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'Whole of life',
  'INSERT_4',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'Whole of life',
  'INSERT_4',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'Whole of life',
  ' a month',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'Whole of life',
  ' a month',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'Whole of life',
  ' a month',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'Whole of life',
  ' a month',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  '£',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  '£',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  '£',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  '£',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  'INSERT_4',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  'INSERT_4',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  'INSERT_4',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  'INSERT_4',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  ' a month',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  ' a month',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  ' a month',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  ' a month',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  '£',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  '£',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  '£',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  '£',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  'INSERT_4',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  'INSERT_4',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  'INSERT_4',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  'INSERT_4',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  ' a month',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  ' a month',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  ' a month',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  ' a month',
  'First death',
  'No'],
 ['INSERT_3', ' ', '£ii_Field_52_1', 'Whole of life', '£', 'Death', 'Yes'],
 ['INSERT_3', ' ', '£ii_Field_52_1', 'Whole of life', '£', 'Death', 'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'Whole of life',
  '£',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'Whole of life',
  '£',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'Whole of life',
  'INSERT_4',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'Whole of life',
  'INSERT_4',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'Whole of life',
  'INSERT_4',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'Whole of life',
  'INSERT_4',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'Whole of life',
  ' a month',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'Whole of life',
  ' a month',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'Whole of life',
  ' a month',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'Whole of life',
  ' a month',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  '£',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  '£',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  '£',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  '£',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  'INSERT_4',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  'INSERT_4',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  'INSERT_4',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  'INSERT_4',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  ' a month',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  ' a month',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  ' a month',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  ' a month',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  '£',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  '£',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  '£',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  '£',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  'INSERT_4',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  'INSERT_4',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  'INSERT_4',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  'INSERT_4',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  ' a month',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  ' a month',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  ' a month',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  ' a month',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'Whole of life',
  '£',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'Whole of life',
  '£',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'Whole of life',
  '£',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'Whole of life',
  '£',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'Whole of life',
  'INSERT_4',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'Whole of life',
  'INSERT_4',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'Whole of life',
  'INSERT_4',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'Whole of life',
  'INSERT_4',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'Whole of life',
  ' a month',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'Whole of life',
  ' a month',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'Whole of life',
  ' a month',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'Whole of life',
  ' a month',
  'First death',
  'No'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  '£',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  '£',
  'Death',
  'No'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  '£',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  '£',
  'First death',
  'No'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  'INSERT_4',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  'INSERT_4',
  'Death',
  'No'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  'INSERT_4',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  'INSERT_4',
  'First death',
  'No'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  ' a month',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  ' a month',
  'Death',
  'No'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  ' a month',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  ' a month',
  'First death',
  'No'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  '£',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  '£',
  'Death',
  'No'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',

In [1184]:
template_v_df[0]

[['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  '£',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  '£',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  '£',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  '£',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  'INSERT_4',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  'INSERT_4',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  'INSERT_4',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  'INSERT_4',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  ' a month',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  ' a month',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  ' a month',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  ' a month',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  '£',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  '£',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  '£',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  '£',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  'INSERT_4',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  'INSERT_4',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  'INSERT_4',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  'INSERT_4',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  ' a month',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  ' a month',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  ' a month',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  ' a month',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'Whole of life',
  '£',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'Whole of life',
  '£',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'Whole of life',
  '£',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'Whole of life',
  '£',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'Whole of life',
  'INSERT_4',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'Whole of life',
  'INSERT_4',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'Whole of life',
  'INSERT_4',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'Whole of life',
  'INSERT_4',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'Whole of life',
  ' a month',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'Whole of life',
  ' a month',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'Whole of life',
  ' a month',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_52_1',
  'Whole of life',
  ' a month',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  '£',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  '£',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  '£',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  '£',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  'INSERT_4',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  'INSERT_4',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  'INSERT_4',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  'INSERT_4',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  ' a month',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  ' a month',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  ' a month',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  ' a month',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  '£',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  '£',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  '£',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  '£',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  'INSERT_4',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  'INSERT_4',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  'INSERT_4',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  'INSERT_4',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  ' a month',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  ' a month',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  ' a month',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  ' a month',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'Whole of life',
  '£',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'Whole of life',
  '£',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'Whole of life',
  '£',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'Whole of life',
  '£',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'Whole of life',
  'INSERT_4',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'Whole of life',
  'INSERT_4',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'Whole of life',
  'INSERT_4',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'Whole of life',
  'INSERT_4',
  'First death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'Whole of life',
  ' a month',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'Whole of life',
  ' a month',
  'Death',
  'No'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'Whole of life',
  ' a month',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Aegon',
  'Aviva',
  'HSBC',
  'Zurich',
  '£ii_Field_53_2 a month',
  'Whole of life',
  ' a month',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  '£',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  '£',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  '£',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  '£',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  'INSERT_4',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  'INSERT_4',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  'INSERT_4',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  'INSERT_4',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  ' a month',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  ' a month',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  ' a month',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  ' a month',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  '£',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  '£',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  '£',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  '£',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  'INSERT_4',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  'INSERT_4',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  'INSERT_4',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  'INSERT_4',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  ' a month',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  ' a month',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  ' a month',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  ' a month',
  'First death',
  'No'],
 ['INSERT_3', ' ', '£ii_Field_52_1', 'Whole of life', '£', 'Death', 'Yes'],
 ['INSERT_3', ' ', '£ii_Field_52_1', 'Whole of life', '£', 'Death', 'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'Whole of life',
  '£',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'Whole of life',
  '£',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'Whole of life',
  'INSERT_4',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'Whole of life',
  'INSERT_4',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'Whole of life',
  'INSERT_4',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'Whole of life',
  'INSERT_4',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'Whole of life',
  ' a month',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'Whole of life',
  ' a month',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'Whole of life',
  ' a month',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_52_1',
  'Whole of life',
  ' a month',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  '£',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  '£',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  '£',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  '£',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  'INSERT_4',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  'INSERT_4',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  'INSERT_4',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  'INSERT_4',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  ' a month',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  ' a month',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  ' a month',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'ii_Field_62_1 years',
  ' a month',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  '£',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  '£',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  '£',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  '£',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  'INSERT_4',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  'INSERT_4',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  'INSERT_4',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  'INSERT_4',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  ' a month',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  ' a month',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  ' a month',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'to age ii_Field_63_2',
  ' a month',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'Whole of life',
  '£',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'Whole of life',
  '£',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'Whole of life',
  '£',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'Whole of life',
  '£',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'Whole of life',
  'INSERT_4',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'Whole of life',
  'INSERT_4',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'Whole of life',
  'INSERT_4',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'Whole of life',
  'INSERT_4',
  'First death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'Whole of life',
  ' a month',
  'Death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'Whole of life',
  ' a month',
  'Death',
  'No'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'Whole of life',
  ' a month',
  'First death',
  'Yes'],
 ['INSERT_3',
  ' ',
  '£ii_Field_53_2 a month',
  'Whole of life',
  ' a month',
  'First death',
  'No'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  '£',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  '£',
  'Death',
  'No'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  '£',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  '£',
  'First death',
  'No'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  'INSERT_4',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  'INSERT_4',
  'Death',
  'No'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  'INSERT_4',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  'INSERT_4',
  'First death',
  'No'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  ' a month',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  ' a month',
  'Death',
  'No'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  ' a month',
  'First death',
  'Yes'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'ii_Field_62_1 years',
  ' a month',
  'First death',
  'No'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  '£',
  'Death',
  'Yes'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',
  'to age ii_Field_63_2',
  '£',
  'Death',
  'No'],
 ['INSERT_3',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover',
  '£ii_Field_52_1',

In [713]:
import pandas as pd 
from fuzzywuzzy import fuzz 
from fuzzywuzzy import process
def checker(wrong_options,correct_options):
    #if len(myset1)== len(dataframe[i].Field):
    names_array=[]
    ratio_array=[]    
    for wrong_option in wrong_options:
        if wrong_option in correct_options:
           names_array.append(wrong_option)
           ratio_array.append(100)
        else:   
            x=process.extractOne(wrong_option,correct_options,scorer=fuzz.token_sort_ratio)
            names_array.append(x[0])
            ratio_array.append(x[1])
    return names_array,ratio_array

In [714]:
df_To_beMatched = (pdf_list)
df_Original_List = (template_df[1][0])

In [715]:
df_To_beMatched

3                       Name
4                    Product
5                Sum assured
6                       Term
7                    Premium
8                   In trust
9    Guaranteed insurability
Name: Field, dtype: object

In [716]:
df_Original_List

['Name',
 'Product',
 'Sum assured',
 'Term',
 'Premium',
 'In trust',
 'Guaranteed insurability option available']

In [717]:
str2Match = (df_To_beMatched)
strOptions =(df_Original_List)

In [718]:
name_match,ratio_match=checker(df_To_beMatched,df_Original_List)

In [719]:
#strOptions

In [720]:
ratio_match

[100, 100, 100, 100, 100, 100, 73]

In [721]:
#template_v_df
names_matching=[]
ratio_matching=[]
template_match = []
#df_To_beMatched=pd.DataFrame()
#df_Original_List = pd.DataFrame()
for i in range(0,len(template_df)):
    for ii in range(0, len(template_df[i])):
        
        #print(a)
        df_To_beMatched = (pdf_list)
        df_Original_List = (template_df[i][ii])
        #print(df_Original_List)
        #print( df_To_beMatched)
        
        #str2Match = df_To_beMatched[0].fillna("######").tolist()
        #strOptions =df_Original_List[0].fillna("######").tolist()
        if len(myset1)== len(template_df[i][ii]):
            name_match,ratio_match=checker(df_To_beMatched,df_Original_List)
            #print("subgroup of ", i)
            #print(name_match)
            #print(ratio_match)
            #print("______________________________________________________")
        template_match.append(i)
        names_matching.append(name_match)
        ratio_matching.append(ratio_match)
    if len(names_matching)==0:
        print("No Tables Matching Template Found")
    #if #template_v_df

In [508]:
ratio_matching , template_match

([[100, 100, 100, 100, 100, 56, 41],
  [100, 100, 44, 100, 100, 56, 38],
  [100, 100, 100, 100, 100, 100, 73],
  [100, 100, 100, 100, 100, 100, 73],
  [100, 100, 100, 100, 100, 100, 73],
  [100, 100, 100, 100, 100, 100, 73],
  [100, 100, 100, 100, 100, 100, 73],
  [100, 100, 100, 100, 100, 56, 41],
  [100, 100, 100, 100, 100, 100, 73]],
 [0, 0, 1, 2, 3, 4, 5, 6, 7])

In [509]:
def greater(sublist1, sublist2):
    ' Checks if sublist greater based upon number of items in one greater than the other '
    cnt = sum(1 for x, y in zip(sorted(sublist1), sorted(sublist2)) if x > y)
    l = len(sublist1)
    
    return cnt > l//2  # True when over half of the items are greater
   
def equal(sublist1, sublist2):
    ' sublist are equal if all terms are equal'
    return sorted(sublist1) == sorted(sublist2)
    
def find_max(lst):
    ' Find all items which are greater than or equal to all others based upon greater or equal functions '
    maxes = [lst[0]]
    
    for i in lst[1:]:
        if greater(maxes[-1], i):
            # Items in max are greater than current
            continue
        elif equal(maxes[-1], i):
            # items in max are equal to current
            maxes.append(i)
        else:
            # current item is greater
            maxes = [i]
   
    return maxes

In [517]:
ratio_matching

[[100, 100, 100, 100, 100, 56, 41],
 [100, 100, 44, 100, 100, 56, 38],
 [100, 100, 100, 100, 100, 100, 73],
 [100, 100, 100, 100, 100, 100, 73],
 [100, 100, 100, 100, 100, 100, 73],
 [100, 100, 100, 100, 100, 100, 73],
 [100, 100, 100, 100, 100, 100, 73],
 [100, 100, 100, 100, 100, 56, 41],
 [100, 100, 100, 100, 100, 100, 73]]

In [518]:
max(ratio_matching)

[100, 100, 100, 100, 100, 100, 73]

In [524]:
template_v_df

[[['INSERT_3',
   'Aegon',
   '£ii_Field_52_1',
   'ii_Field_62_1 years',
   '£',
   'Death',
   'Field_6'],
  ['INSERT_3',
   'Aegon',
   '£ii_Field_52_1',
   'ii_Field_62_1 years',
   '£',
   'First death',
   'Field_6'],
  ['INSERT_3',
   'Aegon',
   '£ii_Field_52_1',
   'to age ii_Field_63_2',
   '£',
   'Death',
   'Field_6'],
  ['INSERT_3',
   'Aegon',
   '£ii_Field_52_1',
   'to age ii_Field_63_2',
   '£',
   'First death',
   'Field_6'],
  ['INSERT_3',
   'Aegon',
   '£ii_Field_52_1',
   'Whole of life',
   '£',
   'Death',
   'Field_6'],
  ['INSERT_3',
   'Aegon',
   '£ii_Field_52_1',
   'Whole of life',
   '£',
   'First death',
   'Field_6'],
  ['INSERT_3',
   'Aegon',
   '£ii_Field_53_2 a month',
   'ii_Field_62_1 years',
   '£',
   'Death',
   'Field_6'],
  ['INSERT_3',
   'Aegon',
   '£ii_Field_53_2 a month',
   'ii_Field_62_1 years',
   '£',
   'First death',
   'Field_6'],
  ['INSERT_3',
   'Aegon',
   '£ii_Field_53_2 a month',
   'to age ii_Field_63_2',
   '£',
   'Death',
   'Field_6'],
  ['INSERT_3',
   'Aegon',
   '£ii_Field_53_2 a month',
   'to age ii_Field_63_2',
   '£',
   'First death',
   'Field_6'],
  ['INSERT_3',
   'Aegon',
   '£ii_Field_53_2 a month',
   'Whole of life',
   '£',
   'Death',
   'Field_6'],
  ['INSERT_3',
   'Aegon',
   '£ii_Field_53_2 a month',
   'Whole of life',
   '£',
   'First death',
   'Field_6'],
  ['INSERT_3',
   'Aviva',
   '£ii_Field_52_1',
   'ii_Field_62_1 years',
   '£',
   'Death',
   'Field_6'],
  ['INSERT_3',
   'Aviva',
   '£ii_Field_52_1',
   'ii_Field_62_1 years',
   '£',
   'First death',
   'Field_6'],
  ['INSERT_3',
   'Aviva',
   '£ii_Field_52_1',
   'to age ii_Field_63_2',
   '£',
   'Death',
   'Field_6'],
  ['INSERT_3',
   'Aviva',
   '£ii_Field_52_1',
   'to age ii_Field_63_2',
   '£',
   'First death',
   'Field_6'],
  ['INSERT_3',
   'Aviva',
   '£ii_Field_52_1',
   'Whole of life',
   '£',
   'Death',
   'Field_6'],
  ['INSERT_3',
   'Aviva',
   '£ii_Field_52_1',
   'Whole of life',
   '£',
   'First death',
   'Field_6'],
  ['INSERT_3',
   'Aviva',
   '£ii_Field_53_2 a month',
   'ii_Field_62_1 years',
   '£',
   'Death',
   'Field_6'],
  ['INSERT_3',
   'Aviva',
   '£ii_Field_53_2 a month',
   'ii_Field_62_1 years',
   '£',
   'First death',
   'Field_6'],
  ['INSERT_3',
   'Aviva',
   '£ii_Field_53_2 a month',
   'to age ii_Field_63_2',
   '£',
   'Death',
   'Field_6'],
  ['INSERT_3',
   'Aviva',
   '£ii_Field_53_2 a month',
   'to age ii_Field_63_2',
   '£',
   'First death',
   'Field_6'],
  ['INSERT_3',
   'Aviva',
   '£ii_Field_53_2 a month',
   'Whole of life',
   '£',
   'Death',
   'Field_6'],
  ['INSERT_3',
   'Aviva',
   '£ii_Field_53_2 a month',
   'Whole of life',
   '£',
   'First death',
   'Field_6'],
  ['INSERT_3',
   'HSBC',
   '£ii_Field_52_1',
   'ii_Field_62_1 years',
   '£',
   'Death',
   'Field_6'],
  ['INSERT_3',
   'HSBC',
   '£ii_Field_52_1',
   'ii_Field_62_1 years',
   '£',
   'First death',
   'Field_6'],
  ['INSERT_3',
   'HSBC',
   '£ii_Field_52_1',
   'to age ii_Field_63_2',
   '£',
   'Death',
   'Field_6'],
  ['INSERT_3',
   'HSBC',
   '£ii_Field_52_1',
   'to age ii_Field_63_2',
   '£',
   'First death',
   'Field_6'],
  ['INSERT_3',
   'HSBC',
   '£ii_Field_52_1',
   'Whole of life',
   '£',
   'Death',
   'Field_6'],
  ['INSERT_3',
   'HSBC',
   '£ii_Field_52_1',
   'Whole of life',
   '£',
   'First death',
   'Field_6'],
  ['INSERT_3',
   'HSBC',
   '£ii_Field_53_2 a month',
   'ii_Field_62_1 years',
   '£',
   'Death',
   'Field_6'],
  ['INSERT_3',
   'HSBC',
   '£ii_Field_53_2 a month',
   'ii_Field_62_1 years',
   '£',
   'First death',
   'Field_6'],
  ['INSERT_3',
   'HSBC',
   '£ii_Field_53_2 a month',
   'to age ii_Field_63_2',
   '£',
   'Death',
   'Field_6'],
  ['INSERT_3',
   'HSBC',
   '£ii_Field_53_2 a month',
   'to age ii_Field_63_2',
   '£',
   'First death',
   'Field_6'],
  ['INSERT_3',
   'HSBC',
   '£ii_Field_53_2 a month',
   'Whole of life',
   '£',
   'Death',
   'Field_6'],
  ['INSERT_3',
   'HSBC',
   '£ii_Field_53_2 a month',
   'Whole of life',
   '£',
   'First death',
   'Field_6'],
  ['INSERT_3',
   'Zurich',
   '£ii_Field_52_1',
   'ii_Field_62_1 years',
   '£',
   'Death',
   'Field_6'],
  ['INSERT_3',
   'Zurich',
   '£ii_Field_52_1',
   'ii_Field_62_1 years',
   '£',
   'First death',
   'Field_6'],
  ['INSERT_3',
   'Zurich',
   '£ii_Field_52_1',
   'to age ii_Field_63_2',
   '£',
   'Death',
   'Field_6'],
  ['INSERT_3',
   'Zurich',
   '£ii_Field_52_1',
   'to age ii_Field_63_2',
   '£',
   'First death',
   'Field_6'],
  ['INSERT_3',
   'Zurich',
   '£ii_Field_52_1',
   'Whole of life',
   '£',
   'Death',
   'Field_6'],
  ['INSERT_3',
   'Zurich',
   '£ii_Field_52_1',
   'Whole of life',
   '£',
   'First death',
   'Field_6'],
  ['INSERT_3',
   'Zurich',
   '£ii_Field_53_2 a month',
   'ii_Field_62_1 years',
   '£',
   'Death',
   'Field_6'],
  ['INSERT_3',
   'Zurich',
   '£ii_Field_53_2 a month',
   'ii_Field_62_1 years',
   '£',
   'First death',
   'Field_6'],
  ['INSERT_3',
   'Zurich',
   '£ii_Field_53_2 a month',
   'to age ii_Field_63_2',
   '£',
   'Death',
   'Field_6'],
  ['INSERT_3',
   'Zurich',
   '£ii_Field_53_2 a month',
   'to age ii_Field_63_2',
   '£',
   'First death',
   'Field_6'],
  ['INSERT_3',
   'Zurich',
   '£ii_Field_53_2 a month',
   'Whole of life',
   '£',
   'Death',
   'Field_6'],
  ['INSERT_3',
   'Zurich',
   '£ii_Field_53_2 a month',
   'Whole of life',
   '£',
   'First death',
   'Field_6']],
 [['INSERT_9', 'INSERT_10', '£', 'INSERT_13', '£', 'Yes', 'Field_18'],
  ['INSERT_9', 'INSERT_10', '£', 'INSERT_13', '£', 'No', 'Field_18']],
 [['INSERT_40', 'Aegon', '£', 'Field_30', '£'],
  ['INSERT_40', 'Aviva Core', '£', 'Field_30', '£'],
  ['INSERT_40', 'Aviva Upgraded+', '£', 'Field_30', '£'],
  ['INSERT_40', 'HSBC', '£', 'Field_30', '£']],
 [['INSERT_46', 'INSERT_47', '£', 'INSERT_50', '£', 'S_FIELD_43_42']],
 [['INSERT_67', 'Aegon', '£', 'ii_Field_542_1 years', '£'],
  ['INSERT_67', 'Aegon', '£', 'to age ii_Field_543_2', '£'],
  ['INSERT_67', 'Aviva', '£', 'ii_Field_542_1 years', '£'],
  ['INSERT_67', 'Aviva', '£', 'to age ii_Field_543_2', '£']],
 [['INSERT_73',
   'INSERT_74',
   '£',
   'ii_Field_612_1 years ii_Field_612_1 months',
   '£',
   'Yes'],
  ['INSERT_73',
   'INSERT_74',
   '£',
   'ii_Field_612_1 years ii_Field_612_1 months',
   '£',
   'No'],
  ['INSERT_73', 'INSERT_74', '£', 'to age ii_Field_613_2', '£', 'Yes'],
  ['INSERT_73', 'INSERT_74', '£', 'to age ii_Field_613_2', '£', 'No']],
 [['INSERT_106', 'Aegon', '£', 'INSERT_108', '£', 'Death', 'Field_64'],
  ['INSERT_106', 'Aegon', '£', 'INSERT_108', '£', 'First death', 'Field_64'],
  ['INSERT_106', 'Aegon', '£', 'INSERT_108', '£', 'First event', 'Field_64'],
  ['INSERT_106', 'Aviva Core', '£', 'INSERT_108', '£', 'Death', 'Field_64'],
  ['INSERT_106',
   'Aviva Core',
   '£',
   'INSERT_108',
   '£',
   'First death',
   'Field_64'],
  ['INSERT_106',
   'Aviva Core',
   '£',
   'INSERT_108',
   '£',
   'First event',
   'Field_64'],
  ['INSERT_106',
   'Aviva Upgraded+',
   '£',
   'INSERT_108',
   '£',
   'Death',
   'Field_64'],
  ['INSERT_106',
   'Aviva Upgraded+',
   '£',
   'INSERT_108',
   '£',
   'First death',
   'Field_64'],
  ['INSERT_106',
   'Aviva Upgraded+',
   '£',
   'INSERT_108',
   '£',
   'First event',
   'Field_64'],
  ['INSERT_106', 'HSBC', '£', 'INSERT_108', '£', 'Death', 'Field_64'],
  ['INSERT_106', 'HSBC', '£', 'INSERT_108', '£', 'First death', 'Field_64'],
  ['INSERT_106', 'HSBC', '£', 'INSERT_108', '£', 'First event', 'Field_64']],
 [['INSERT_113', 'INSERT_114', '£', 'INSERT_117', '£', 'Yes', 'Field_74'],
  ['INSERT_113', 'INSERT_114', '£', 'INSERT_117', '£', 'No', 'Field_74']]]

In [522]:
its_match = max(ratio_matching)
names_v_matching=[]
ratio_v_matching=[]
pdf_v = way.Value
indices = [i for i, x in enumerate(ratio_matching) if x == its_match]
print(indices)
if len(indices)>1:
    for i in indices:
        j = template_match[i]
        print( "_______________" , j, "________________")
        for ii in range(0, len(template_v_df[j])):
            print (template_v_df[j])
            print("+++++++++++++++++++++++++++++++++++++++++++++++++++")
        
        #print(a)
            df_To_beMatched = (pdf_v)
            df_Original_List = (template_v_df[j][ii])
            print(df_Original_List)
            print( df_To_beMatched)

            #str2Match = df_To_beMatched[0].fillna("######").tolist()
            #strOptions =df_Original_List[0].fillna("######").tolist()
            #if len(myset1)== len(template_df[i][ii]):
            name_match,ratio_match=checker(df_To_beMatched,df_Original_List)
            print(name_match)
            print(ratio_match)
            print("______________________________________________________")

        names_v_matching.append(name_match)
        ratio_v_matching.append(ratio_match)
    if len(names_matching)==0:
        print("No Tables Matching Template Found")

[2, 3, 4, 5, 6, 8]
_______________ 1 ________________
[['INSERT_9', 'INSERT_10', '£', 'INSERT_13', '£', 'Yes', 'Field_18'], ['INSERT_9', 'INSERT_10', '£', 'INSERT_13', '£', 'No', 'Field_18']]
+++++++++++++++++++++++++++++++++++++++++++++++++++
['INSERT_9', 'INSERT_10', '£', 'INSERT_13', '£', 'Yes', 'Field_18']
3                        Elnaz Nobari
4    potatoe Level Life Cover tomatoe
5                                 £13
6              200 years 10 millenium
7                        £400 a month
8                                 Yes
9                                  No
Name: Value, dtype: object
['INSERT_9', 'INSERT_9', 'INSERT_13', 'Yes', 'INSERT_9', 'Yes', 'INSERT_9']
[20, 15, 36, 24, 21, 100, 20]
______________________________________________________
[['INSERT_9', 'INSERT_10', '£', 'INSERT_13', '£', 'Yes', 'Field_18'], ['INSERT_9', 'INSERT_10', '£', 'INSERT_13', '£', 'No', 'Field_18']]
+++++++++++++++++++++++++++++++++++++++++++++++++++
['INSERT_9', 'INSERT_10', '£', 'INSERT_13', '£', 'No', 'Field_18']
3                        Elnaz Nobari
4    potatoe Level Life Cover tomatoe
5                                 £13
6              200 years 10 millenium
7                        £400 a month
8                                 Yes
9                                  No
Name: Value, dtype: object
['No', 'INSERT_9', 'INSERT_13', 'INSERT_9', 'INSERT_9', 'INSERT_9', 'No']
[29, 15, 36, 20, 21, 18, 100]
______________________________________________________
_______________ 2 ________________
[['INSERT_40', 'Aegon', '£', 'Field_30', '£'], ['INSERT_40', 'Aviva Core', '£', 'Field_30', '£'], ['INSERT_40', 'Aviva Upgraded+', '£', 'Field_30', '£'], ['INSERT_40', 'HSBC', '£', 'Field_30', '£']]
+++++++++++++++++++++++++++++++++++++++++++++++++++
['INSERT_40', 'Aegon', '£', 'Field_30', '£']
3                        Elnaz Nobari
4    potatoe Level Life Cover tomatoe
5                                 £13
6              200 years 10 millenium
7                        £400 a month
8                                 Yes
9                                  No
Name: Value, dtype: object
['Aegon', 'INSERT_40', 'Field_30', 'Aegon', 'Aegon', 'Aegon', 'Aegon']
[24, 15, 20, 15, 38, 25, 29]
______________________________________________________
[['INSERT_40', 'Aegon', '£', 'Field_30', '£'], ['INSERT_40', 'Aviva Core', '£', 'Field_30', '£'], ['INSERT_40', 'Aviva Upgraded+', '£', 'Field_30', '£'], ['INSERT_40', 'HSBC', '£', 'Field_30', '£']]
+++++++++++++++++++++++++++++++++++++++++++++++++++
['INSERT_40', 'Aviva Core', '£', 'Field_30', '£']
3                        Elnaz Nobari
4    potatoe Level Life Cover tomatoe
5                                 £13
6              200 years 10 millenium
7                        £400 a month
8                                 Yes
9                                  No
Name: Value, dtype: object
['Field_30', 'INSERT_40', 'Field_30', 'Aviva Core', 'Aviva Core', 'Field_30', 'INSERT_40']
[20, 15, 20, 12, 29, 18, 18]
______________________________________________________
[['INSERT_40', 'Aegon', '£', 'Field_30', '£'], ['INSERT_40', 'Aviva Core', '£', 'Field_30', '£'], ['INSERT_40', 'Aviva Upgraded+', '£', 'Field_30', '£'], ['INSERT_40', 'HSBC', '£', 'Field_30', '£']]
+++++++++++++++++++++++++++++++++++++++++++++++++++
['INSERT_40', 'Aviva Upgraded+', '£', 'Field_30', '£']
3                        Elnaz Nobari
4    potatoe Level Life Cover tomatoe
5                                 £13
6              200 years 10 millenium
7                        £400 a month
8                                 Yes
9                                  No
Name: Value, dtype: object
['Field_30', 'INSERT_40', 'Field_30', 'Aviva Upgraded+', 'INSERT_40', 'Field_30', 'INSERT_40']
[20, 15, 20, 11, 20, 18, 18]
______________________________________________________
[['INSERT_40', 'Aegon', '£', 'Field_30', '£'], ['INSERT_40', 'Aviva Core', '£', 'Field_30', '£'], ['INSERT_40', 'Aviva Upgraded+', '£', 'Field_30', '£'], ['INSERT_40', 'HSBC', '£', 'Field_30', '£']]
+++++++++++++++++++++++++++++++++++++++++++++++++++
['INSERT_40', 'HSBC', '£', 'Field_30', '£']
3                        Elnaz Nobari
4    potatoe Level Life Cover tomatoe
5                                 £13
6              200 years 10 millenium
7                        £400 a month
8                                 Yes
9                                  No
Name: Value, dtype: object
['Field_30', 'INSERT_40', 'Field_30', 'HSBC', 'INSERT_40', 'HSBC', 'INSERT_40']
[20, 15, 20, 8, 20, 29, 18]
______________________________________________________
_______________ 3 ________________
[['INSERT_46', 'INSERT_47', '£', 'INSERT_50', '£', 'S_FIELD_43_42']]
+++++++++++++++++++++++++++++++++++++++++++++++++++
['INSERT_46', 'INSERT_47', '£', 'INSERT_50', '£', 'S_FIELD_43_42']
3                        Elnaz Nobari
4    potatoe Level Life Cover tomatoe
5                                 £13
6              200 years 10 millenium
7                        £400 a month
8                                 Yes
9                                  No
Name: Value, dtype: object
['INSERT_46', 'INSERT_46', 'S_FIELD_43_42', 'INSERT_46', 'INSERT_46', 'INSERT_46', 'INSERT_46']
[19, 15, 13, 19, 10, 17, 18]
______________________________________________________
_______________ 4 ________________
[['INSERT_67', 'Aegon', '£', 'ii_Field_542_1 years', '£'], ['INSERT_67', 'Aegon', '£', 'to age ii_Field_543_2', '£'], ['INSERT_67', 'Aviva', '£', 'ii_Field_542_1 years', '£'], ['INSERT_67', 'Aviva', '£', 'to age ii_Field_543_2', '£']]
+++++++++++++++++++++++++++++++++++++++++++++++++++
['INSERT_67', 'Aegon', '£', 'ii_Field_542_1 years', '£']
3                        Elnaz Nobari
4    potatoe Level Life Cover tomatoe
5                                 £13
6              200 years 10 millenium
7                        £400 a month
8                                 Yes
9                                  No
Name: Value, dtype: object
['ii_Field_542_1 years', 'ii_Field_542_1 years', 'ii_Field_542_1 years', 'ii_Field_542_1 years', 'Aegon', 'ii_Field_542_1 years', 'Aegon']
[31, 19, 9, 33, 38, 26, 29]
______________________________________________________
[['INSERT_67', 'Aegon', '£', 'ii_Field_542_1 years', '£'], ['INSERT_67', 'Aegon', '£', 'to age ii_Field_543_2', '£'], ['INSERT_67', 'Aviva', '£', 'ii_Field_542_1 years', '£'], ['INSERT_67', 'Aviva', '£', 'to age ii_Field_543_2', '£']]
+++++++++++++++++++++++++++++++++++++++++++++++++++
['INSERT_67', 'Aegon', '£', 'to age ii_Field_543_2', '£']
3                        Elnaz Nobari
4    potatoe Level Life Cover tomatoe
5                                 £13
6              200 years 10 millenium
7                        £400 a month
8                                 Yes
9                                  No
Name: Value, dtype: object
['Aegon', 'to age ii_Field_543_2', 'to age ii_Field_543_2', 'INSERT_67', 'Aegon', 'Aegon', 'Aegon']
[24, 26, 9, 19, 38, 25, 29]
______________________________________________________
[['INSERT_67', 'Aegon', '£', 'ii_Field_542_1 years', '£'], ['INSERT_67', 'Aegon', '£', 'to age ii_Field_543_2', '£'], ['INSERT_67', 'Aviva', '£', 'ii_Field_542_1 years', '£'], ['INSERT_67', 'Aviva', '£', 'to age ii_Field_543_2', '£']]
+++++++++++++++++++++++++++++++++++++++++++++++++++
['INSERT_67', 'Aviva', '£', 'ii_Field_542_1 years', '£']
3                        Elnaz Nobari
4    potatoe Level Life Cover tomatoe
5                                 £13
6              200 years 10 millenium
7                        £400 a month
8                                 Yes
9                                  No
Name: Value, dtype: object
['ii_Field_542_1 years', 'ii_Field_542_1 years', 'ii_Field_542_1 years', 'ii_Field_542_1 years', 'INSERT_67', 'ii_Field_542_1 years', 'INSERT_67']
[31, 19, 9, 33, 20, 26, 18]
______________________________________________________
[['INSERT_67', 'Aegon', '£', 'ii_Field_542_1 years', '£'], ['INSERT_67', 'Aegon', '£', 'to age ii_Field_543_2', '£'], ['INSERT_67', 'Aviva', '£', 'ii_Field_542_1 years', '£'], ['INSERT_67', 'Aviva', '£', 'to age ii_Field_543_2', '£']]
+++++++++++++++++++++++++++++++++++++++++++++++++++
['INSERT_67', 'Aviva', '£', 'to age ii_Field_543_2', '£']
3                        Elnaz Nobari
4    potatoe Level Life Cover tomatoe
5                                 £13
6              200 years 10 millenium
7                        £400 a month
8                                 Yes
9                                  No
Name: Value, dtype: object
['Aviva', 'to age ii_Field_543_2', 'to age ii_Field_543_2', 'INSERT_67', 'INSERT_67', 'INSERT_67', 'INSERT_67']
[24, 26, 9, 19, 20, 17, 18]
______________________________________________________
_______________ 5 ________________
[['INSERT_73', 'INSERT_74', '£', 'ii_Field_612_1 years ii_Field_612_1 months', '£', 'Yes'], ['INSERT_73', 'INSERT_74', '£', 'ii_Field_612_1 years ii_Field_612_1 months', '£', 'No'], ['INSERT_73', 'INSERT_74', '£', 'to age ii_Field_613_2', '£', 'Yes'], ['INSERT_73', 'INSERT_74', '£', 'to age ii_Field_613_2', '£', 'No']]
+++++++++++++++++++++++++++++++++++++++++++++++++++
['INSERT_73', 'INSERT_74', '£', 'ii_Field_612_1 years ii_Field_612_1 months', '£', 'Yes']
3                        Elnaz Nobari
4    potatoe Level Life Cover tomatoe
5                                 £13
6              200 years 10 millenium
7                        £400 a month
8                                 Yes
9                                  No
Name: Value, dtype: object
['ii_Field_612_1 years ii_Field_612_1 months', 'ii_Field_612_1 years ii_Field_612_1 months', 'INSERT_73', 'ii_Field_612_1 years ii_Field_612_1 months', 'ii_Field_612_1 years ii_Field_612_1 months', 'Yes', 'INSERT_73']
[22, 16, 18, 38, 26, 100, 18]
______________________________________________________
[['INSERT_73', 'INSERT_74', '£', 'ii_Field_612_1 years ii_Field_612_1 months', '£', 'Yes'], ['INSERT_73', 'INSERT_74', '£', 'ii_Field_612_1 years ii_Field_612_1 months', '£', 'No'], ['INSERT_73', 'INSERT_74', '£', 'to age ii_Field_613_2', '£', 'Yes'], ['INSERT_73', 'INSERT_74', '£', 'to age ii_Field_613_2', '£', 'No']]
+++++++++++++++++++++++++++++++++++++++++++++++++++
['INSERT_73', 'INSERT_74', '£', 'ii_Field_612_1 years ii_Field_612_1 months', '£', 'No']
3                        Elnaz Nobari
4    potatoe Level Life Cover tomatoe
5                                 £13
6              200 years 10 millenium
7                        £400 a month
8                                 Yes
9                                  No
Name: Value, dtype: object
['No', 'ii_Field_612_1 years ii_Field_612_1 months', 'INSERT_73', 'ii_Field_612_1 years ii_Field_612_1 months', 'ii_Field_612_1 years ii_Field_612_1 months', 'INSERT_73', 'No']
[29, 16, 18, 38, 26, 17, 100]
______________________________________________________
[['INSERT_73', 'INSERT_74', '£', 'ii_Field_612_1 years ii_Field_612_1 months', '£', 'Yes'], ['INSERT_73', 'INSERT_74', '£', 'ii_Field_612_1 years ii_Field_612_1 months', '£', 'No'], ['INSERT_73', 'INSERT_74', '£', 'to age ii_Field_613_2', '£', 'Yes'], ['INSERT_73', 'INSERT_74', '£', 'to age ii_Field_613_2', '£', 'No']]
+++++++++++++++++++++++++++++++++++++++++++++++++++
['INSERT_73', 'INSERT_74', '£', 'to age ii_Field_613_2', '£', 'Yes']
3                        Elnaz Nobari
4    potatoe Level Life Cover tomatoe
5                                 £13
6              200 years 10 millenium
7                        £400 a month
8                                 Yes
9                                  No
Name: Value, dtype: object
['to age ii_Field_613_2', 'to age ii_Field_613_2', 'INSERT_73', 'Yes', 'INSERT_73', 'Yes', 'INSERT_73']
[24, 26, 18, 24, 20, 100, 18]
______________________________________________________
[['INSERT_73', 'INSERT_74', '£', 'ii_Field_612_1 years ii_Field_612_1 months', '£', 'Yes'], ['INSERT_73', 'INSERT_74', '£', 'ii_Field_612_1 years ii_Field_612_1 months', '£', 'No'], ['INSERT_73', 'INSERT_74', '£', 'to age ii_Field_613_2', '£', 'Yes'], ['INSERT_73', 'INSERT_74', '£', 'to age ii_Field_613_2', '£', 'No']]
+++++++++++++++++++++++++++++++++++++++++++++++++++
['INSERT_73', 'INSERT_74', '£', 'to age ii_Field_613_2', '£', 'No']
3                        Elnaz Nobari
4    potatoe Level Life Cover tomatoe
5                                 £13
6              200 years 10 millenium
7                        £400 a month
8                                 Yes
9                                  No
Name: Value, dtype: object
['No', 'to age ii_Field_613_2', 'INSERT_73', 'INSERT_73', 'INSERT_73', 'INSERT_73', 'No']
[29, 26, 18, 19, 20, 17, 100]
______________________________________________________
_______________ 7 ________________
[['INSERT_113', 'INSERT_114', '£', 'INSERT_117', '£', 'Yes', 'Field_74'], ['INSERT_113', 'INSERT_114', '£', 'INSERT_117', '£', 'No', 'Field_74']]
+++++++++++++++++++++++++++++++++++++++++++++++++++
['INSERT_113', 'INSERT_114', '£', 'INSERT_117', '£', 'Yes', 'Field_74']
3                        Elnaz Nobari
4    potatoe Level Life Cover tomatoe
5                                 £13
6              200 years 10 millenium
7                        £400 a month
8                                 Yes
9                                  No
Name: Value, dtype: object
['Field_74', 'INSERT_113', 'INSERT_113', 'Yes', 'INSERT_113', 'Yes', 'INSERT_113']
[20, 14, 33, 24, 19, 100, 17]
______________________________________________________
[['INSERT_113', 'INSERT_114', '£', 'INSERT_117', '£', 'Yes', 'Field_74'], ['INSERT_113', 'INSERT_114', '£', 'INSERT_117', '£', 'No', 'Field_74']]
+++++++++++++++++++++++++++++++++++++++++++++++++++
['INSERT_113', 'INSERT_114', '£', 'INSERT_117', '£', 'No', 'Field_74']
3                        Elnaz Nobari
4    potatoe Level Life Cover tomatoe
5                                 £13
6              200 years 10 millenium
7                        £400 a month
8                                 Yes
9                                  No
Name: Value, dtype: object
['No', 'INSERT_113', 'INSERT_113', 'Field_74', 'INSERT_113', 'Field_74', 'No']
[29, 14, 33, 13, 19, 18, 100]
______________________________________________________

In [523]:
ratio_v_matching

[[29, 15, 36, 20, 21, 18, 100],
 [20, 15, 20, 8, 20, 29, 18],
 [19, 15, 13, 19, 10, 17, 18],
 [24, 26, 9, 19, 20, 17, 18],
 [29, 26, 18, 19, 20, 17, 100],
 [29, 14, 33, 13, 19, 18, 100]]

In [226]:
sorted_list = sorted(ratio_matching, key=lambda x: max(x[0:]), reverse=True)

# slice first 3 lists (to get the "top" 3 max values)
sliced_list = sorted_list[:3]

print(sliced_list)

[[100, 100, 44, 100, 100, 56, 38], [100, 100, 100, 100, 100, 100, 73], [100, 100, 100, 100, 100, 100, 73]]

In [960]:
wrd_tbl_0 = pd.DataFrame(k_all_tbl[0])
wrd_tbl_0.columns = ['Field','Value']
#wrd_tbl_0[0] = wrd_tbl_0[0].str.get(0)
#wrd_tbl_0[0] = wrd_tbl_0[0].str.get(0)

In [827]:
#loop to remove all lists from inside dataframe and replace with values 
for cols in wrd_tbl_0:
    for irow in range(0,len(wrd_tbl_0[cols])):
        while isinstance(wrd_tbl_0[cols][irow], list) == True:
            wrd_tbl_0[cols][irow] = wrd_tbl_0[cols][irow][0]
            continue
            if isinstance(wrd_tbl_0[cols][irow], list) == False :
                break
                
        #while type(row) != str:
           # row = row[0]
          #i += 1

In [891]:
len(reviews)

9

In [925]:
way

                     Field                             Value
3                     Name                      Elnaz Nobari
4                  Product  potatoe Level Life Cover tomatoe
5              Sum assured                               £13
6                     Term            200 years 10 millenium
7                  Premium                      £400 a month
8                 In trust                               Yes
9  Guaranteed insurability                                No

In [945]:
way.Field[3]

'Name'

In [946]:
fuzz.ratio(dataframe[0].Field[0], way.Field[3])

100

In [218]:
import xmltodict

with open(soup) as fd:
    doc = xmltodict.parse(fd.read())

TypeError: expected str, bytes or os.PathLike object, not BeautifulSoup

In [357]:
data = []
for label in soup.select('comboBox'):
    data.append({ label.text.strip(): label.find_next_sibling().text.strip() })

AttributeError: 'NoneType' object has no attribute 'text'

In [221]:
for product_div in soup.find_all('w', {'w': 'value'}):
    product_tag = product_div.find('listItem')
    if product_tag:
        print (product_tag.attrs['id'])

In [227]:
all_tags = [tag.name for tag in soup.find_all()]
myset = set(all_tags)
print(myset)

{'tblW', 'color', 'pStyle', 'tblGrid', 'r', 'tc', 'sdtEndPr', 'id', 'listItem', 'b', 'tcPr', 'tblLook', 'vertAlign', 'pPr', 'lastRenderedPageBreak', 'rStyle', 'tblStyle', 'docPart', 'sdt', 'pgSz', 'rPr', 'tcBorders', 'showingPlcHdr', 'tblBorders', 'insideV', 'placeholder', 'tr', 'document', 'rFonts', 'sectPr', 'pgMar', 'tcW', 't', 'p', 'cols', 'tbl', 'body', 'tblPr', 'left', 'gridCol', 'shd', 'trHeight', 'br', 'docGrid', 'sdtPr', 'comboBox', 'trPr', 'right', 'top', 'bottom', 'iCs', 'repeatingSection', 'sdtContent', 'repeatingSectionItem', 'highlight'}

In [407]:
head_tag = soup.sdt
head_tag
for child in head_tag.children:
    k2 = (child, "_____________________________")

In [418]:
#soup.find_all('sdt')[6].contents[2]['w:t']#'t')

dali =[]
mozart = []
beeth = []
for i in range(0,len(soup.findAll('sdt'))):
    #try:
        lolz = soup.findAll('sdt')[i].contents[2]
        dali = lolz("t")
        #beeth = [num["w:t"] for num in lolz]
        mozart.append(dali)

In [420]:
#soup.findAll('sdt')[0].contents[2]
for row in tr:
    print(row.find('td', {'class': 'price'}).text)

<w:sdtContent><w:sdt><w:sdtPr><w:rPr><w:b/></w:rPr><w:id w:val="2052105906"/><w:placeholder><w:docPart w:val="FA5837C7B0AF452AA8A6CBBA1D252A1B"/></w:placeholder><w15:repeatingSectionItem/></w:sdtPr><w:sdtEndPr><w:rPr><w:b w:val="0"/></w:rPr></w:sdtEndPr><w:sdtContent><w:tbl><w:tblPr><w:tblStyle w:val="TableGrid"/><w:tblW w:type="auto" w:w="0"/><w:tblBorders><w:top w:color="auto" w:space="0" w:sz="0" w:val="none"/><w:left w:color="auto" w:space="0" w:sz="0" w:val="none"/><w:bottom w:color="auto" w:space="0" w:sz="0" w:val="none"/><w:right w:color="auto" w:space="0" w:sz="0" w:val="none"/><w:insideV w:color="auto" w:space="0" w:sz="0" w:val="none"/></w:tblBorders><w:tblLook w:firstColumn="1" w:firstRow="1" w:lastColumn="0" w:lastRow="0" w:noHBand="0" w:noVBand="1" w:val="04A0"/></w:tblPr><w:tblGrid><w:gridCol w:w="2589"/><w:gridCol w:w="6437"/></w:tblGrid><w:tr w14:paraId="06FE69F0" w14:textId="77777777" w:rsidR="00F01ED7" w:rsidRPr="002E1A73" w:rsidTr="00DB6E7E"><w:tc><w:tcPr><w:tcW w:type="dxa" w:w="2689"/></w:tcPr><w:p w14:paraId="3FFCFFC4" w14:textId="77777777" w:rsidP="002E1A73" w:rsidR="00F01ED7" w:rsidRDefault="00F01ED7" w:rsidRPr="002E1A73"><w:pPr><w:pStyle w:val="FPRBodycopy"/><w:rPr><w:b/></w:rPr></w:pPr><w:r w:rsidRPr="002E1A73"><w:rPr><w:b/></w:rPr><w:t>Name</w:t></w:r></w:p></w:tc><w:tc><w:tcPr><w:tcW w:type="dxa" w:w="6939"/><w:shd w:color="auto" w:fill="D9D9D9" w:themeFill="background1" w:themeFillShade="D9" w:val="clear"/></w:tcPr><w:p w14:paraId="67ECEAF3" w14:textId="32D76BC8" w:rsidP="00C9451D" w:rsidR="00F01ED7" w:rsidRDefault="00573D13" w:rsidRPr="00DA0E4C"><w:pPr><w:pStyle w:val="FPRBodycopy"/><w:rPr><w:b/><w:highlight w:val="green"/></w:rPr></w:pPr><w:r><w:rPr><w:b/><w:highlight w:val="green"/></w:rPr><w:t>INSERT_3</w:t></w:r></w:p></w:tc></w:tr><w:tr w14:paraId="7B23CB1B" w14:textId="77777777" w:rsidR="00F01ED7" w:rsidRPr="002E1A73" w:rsidTr="00DB6E7E"><w:tc><w:tcPr><w:tcW w:type="dxa" w:w="2689"/></w:tcPr><w:p w14:paraId="6932C0C0" w14:textId="77777777" w:rsidP="002E1A73" w:rsidR="00F01ED7" w:rsidRDefault="00F01ED7" w:rsidRPr="002E1A73"><w:pPr><w:pStyle w:val="FPRBodycopy"/><w:rPr><w:b/></w:rPr></w:pPr><w:r w:rsidRPr="002E1A73"><w:rPr><w:b/></w:rPr><w:t>Product</w:t></w:r></w:p></w:tc><w:tc><w:tcPr><w:tcW w:type="dxa" w:w="6939"/><w:shd w:color="auto" w:fill="D9D9D9" w:themeFill="background1" w:themeFillShade="D9" w:val="clear"/></w:tcPr><w:p w14:paraId="5B19782A" w14:textId="77777777" w:rsidP="002E1A73" w:rsidR="00F01ED7" w:rsidRDefault="00573D13" w:rsidRPr="002E1A73"><w:pPr><w:pStyle w:val="FPRBodycopy"/><w:rPr><w:b/></w:rPr></w:pPr><w:sdt><w:sdtPr><w:rPr><w:b/></w:rPr><w:id w:val="-729843875"/><w:placeholder><w:docPart w:val="6B4F0FE5A4DB4F5DBEF8E694E5B77EE9"/></w:placeholder><w:comboBox><w:listItem w:value="Choose an item."/><w:listItem w:displayText="Aegon" w:value="Aegon"/><w:listItem w:displayText="Aviva" w:value="Aviva"/><w:listItem w:displayText="HSBC" w:value="HSBC"/><w:listItem w:displayText="Zurich" w:value="Zurich"/></w:comboBox></w:sdtPr><w:sdtEndPr/><w:sdtContent><w:r w:rsidR="003E2834" w:rsidRPr="003E2834"><w:rPr><w:b/></w:rPr><w:t>S_Field_1_0</w:t></w:r></w:sdtContent></w:sdt><w:r w:rsidR="00F01ED7" w:rsidRPr="002E1A73"><w:rPr><w:b/></w:rPr><w:t xml:space="preserve"> </w:t></w:r><w:sdt><w:sdtPr><w:rPr><w:b/></w:rPr><w:id w:val="1935631387"/><w:placeholder><w:docPart w:val="1A9790BCE1F24597BF55B40D795DB77A"/></w:placeholder><w:showingPlcHdr/><w:comboBox><w:listItem w:value="Choose an item."/><w:listItem w:displayText="Level Life Cover" w:value="Level Life Cover"/><w:listItem w:displayText="Family Income Benefit" w:value="Family Income Benefit"/><w:listItem w:displayText="Whole of Life Cover" w:value="Whole of Life Cover"/></w:comboBox></w:sdtPr><w:sdtEndPr/><w:sdtContent><w:r w:rsidR="003E2834" w:rsidRPr="000A490D"><w:rPr><w:rStyle w:val="PlaceholderText"/></w:rPr><w:t>Field_1 policy type</w:t></w:r></w:sdtContent></w:sdt></w:p></w:tc></w:tr><w:tr w14:paraId="19F7EAE1" w14:textId="77777777" w:rsidR="00F01ED7" w:rsidRPr="002E1A73" w:rsidTr="00DB6E7E"><w:tc><w:tcPr><w:tcW w:type="dxa" w:w="2689"/></w:tcPr><w:p w14:paraId="2733C192" w14:textId="77777777" w:rsidP="002E1A73" w:rsidR="00F01ED7" w:rsidRDefault="00573D13" w:rsidRPr="002E1A73"><w:pPr><w:pStyle w:val="FPRBodycopy"/><w:rPr><w:b/></w:rPr></w:pPr><w:sdt><w:sdtPr><w:rPr><w:b/></w:rPr><w:id w:val="1909956131"/><w:placeholder><w:docPart w:val="1E93B446C4E44B7382144184F8B3B6CC"/></w:placeholder><w:showingPlcHdr/><w15:color w:val="000000"/><w:comboBox><w:listItem w:value="Choose an item."/><w:listItem w:displayText="Sum assured" w:value="Sum assured"/><w:listItem w:displayText="Benefit amount" w:value="Benefit amount"/></w:comboBox></w:sdtPr><w:sdtEndPr><w:rPr><w:rStyle w:val="Style1"/><w:rFonts w:ascii="Univers Next for HSBC Medium" w:hAnsi="Univers Next for HSBC Medium"/></w:rPr></w:sdtEndPr><w:sdtContent><w:r w:rsidR="003E2834" w:rsidRPr="000A490D"><w:rPr><w:rStyle w:val="PlaceholderText"/></w:rPr><w:t>Field_2</w:t></w:r></w:sdtContent></w:sdt></w:p></w:tc><w:tc><w:tcPr><w:tcW w:type="dxa" w:w="6939"/><w:shd w:color="auto" w:fill="D9D9D9" w:themeFill="background1" w:themeFillShade="D9" w:val="clear"/></w:tcPr><w:p w14:paraId="0795D423" w14:textId="77777777" w:rsidP="002E1A73" w:rsidR="00F01ED7" w:rsidRDefault="00573D13" w:rsidRPr="002E1A73"><w:pPr><w:pStyle w:val="FPRBodycopy"/><w:rPr><w:b/></w:rPr></w:pPr><w:sdt><w:sdtPr><w:rPr><w:b/><w:highlight w:val="green"/></w:rPr><w:id w:val="-238106524"/><w:placeholder><w:docPart w:val="DFA0C51DF9BF4B6D809FE7C2F698290A"/></w:placeholder><w:showingPlcHdr/><w:comboBox><w:listItem w:value="Choose an item."/><w:listItem w:displayText="£ii_Field_52_1" w:value="£ii_Field_52_1"/><w:listItem w:displayText="£ii_Field_53_2 a month" w:value="£ii_Field_53_2 a month"/></w:comboBox></w:sdtPr><w:sdtEndPr/><w:sdtContent><w:r w:rsidR="003E2834" w:rsidRPr="000A490D"><w:rPr><w:rStyle w:val="PlaceholderText"/></w:rPr><w:t>Field_3</w:t></w:r></w:sdtContent></w:sdt></w:p></w:tc></w:tr><w:tr w14:paraId="54BB03F0" w14:textId="77777777" w:rsidR="00F01ED7" w:rsidRPr="002E1A73" w:rsidTr="00DB6E7E"><w:tc><w:tcPr><w:tcW w:type="dxa" w:w="2689"/></w:tcPr><w:p w14:paraId="56FA7B00" w14:textId="77777777" w:rsidP="002E1A73" w:rsidR="00F01ED7" w:rsidRDefault="00F01ED7" w:rsidRPr="002E1A73"><w:pPr><w:pStyle w:val="FPRBodycopy"/><w:rPr><w:b/></w:rPr></w:pPr><w:r w:rsidRPr="002E1A73"><w:rPr><w:b/></w:rPr><w:t>Term</w:t></w:r></w:p></w:tc><w:tc><w:tcPr><w:tcW w:type="dxa" w:w="6939"/><w:shd w:color="auto" w:fill="D9D9D9" w:themeFill="background1" w:themeFillShade="D9" w:val="clear"/></w:tcPr><w:p w14:paraId="624D90DB" w14:textId="77777777" w:rsidP="002E1A73" w:rsidR="00F01ED7" w:rsidRDefault="00573D13" w:rsidRPr="002E1A73"><w:pPr><w:pStyle w:val="FPRBodycopy"/><w:rPr><w:b/></w:rPr></w:pPr><w:sdt><w:sdtPr><w:rPr><w:b/><w:highlight w:val="green"/></w:rPr><w:id w:val="-516002943"/><w:placeholder><w:docPart w:val="23B4720464184C919358270F7AAEA9E5"/></w:placeholder><w:showingPlcHdr/><w:comboBox><w:listItem w:value="Choose an item."/><w:listItem w:displayText="ii_Field_62_1 years" w:value="ii_Field_62_1 years"/><w:listItem w:displayText="to age ii_Field_63_2" w:value="to age ii_Field_63_2"/><w:listItem w:displayText="Whole of life" w:value="Whole of life"/></w:comboBox></w:sdtPr><w:sdtEndPr/><w:sdtContent><w:r w:rsidR="003E2834" w:rsidRPr="000A490D"><w:rPr><w:rStyle w:val="PlaceholderText"/></w:rPr><w:t>Field_4</w:t></w:r></w:sdtContent></w:sdt></w:p></w:tc></w:tr><w:tr w14:paraId="07498BB6" w14:textId="77777777" w:rsidR="00F01ED7" w:rsidRPr="002E1A73" w:rsidTr="00DB6E7E"><w:trPr><w:trHeight w:val="321"/></w:trPr><w:tc><w:tcPr><w:tcW w:type="dxa" w:w="2689"/></w:tcPr><w:p w14:paraId="2592FAFC" w14:textId="77777777" w:rsidP="002E1A73" w:rsidR="00F01ED7" w:rsidRDefault="00F01ED7" w:rsidRPr="002E1A73"><w:pPr><w:pStyle w:val="FPRBodycopy"/><w:rPr><w:b/></w:rPr></w:pPr><w:r w:rsidRPr="002E1A73"><w:rPr><w:b/></w:rPr><w:t>Premium</w:t></w:r></w:p></w:tc><w:tc><w:tcPr><w:tcW w:type="dxa" w:w="6939"/><w:shd w:color="auto" w:fill="D9D9D9" w:themeFill="background1" w:themeFillShade="D9" w:val="clear"/></w:tcPr><w:p w14:paraId="12B36580" w14:textId="0147CD08" w:rsidP="002E1A73" w:rsidR="00F01ED7" w:rsidRDefault="00F01ED7" w:rsidRPr="002E1A73"><w:pPr><w:pStyle w:val="FPRBodycopy"/><w:rPr><w:b/></w:rPr></w:pPr><w:r w:rsidRPr="002E1A73"><w:rPr><w:b/></w:rPr><w:t>£</w:t></w:r><w:r w:rsidR="00573D13"><w:rPr><w:b/><w:highlight w:val="green"/></w:rPr><w:t>INSERT_4</w:t></w:r><w:r w:rsidRPr="002E1A73"><w:rPr><w:b/></w:rPr><w:t xml:space="preserve"> a month</w:t></w:r></w:p></w:tc></w:tr><w:tr w14:paraId="119406D1" w14:textId="77777777" w:rsidR="00F01ED7" w:rsidRPr="002E1A73" w:rsidTr="00E04F9F"><w:trPr><w:trHeight w:val="321"/></w:trPr><w:tc><w:tcPr><w:tcW w:type="dxa" w:w="2689"/></w:tcPr><w:p w14:paraId="2B817F0A" w14:textId="77777777" w:rsidP="002E1A73" w:rsidR="00F01ED7" w:rsidRDefault="00F01ED7" w:rsidRPr="002E1A73"><w:pPr><w:pStyle w:val="FPRBodycopy"/><w:rPr><w:b/></w:rPr></w:pPr><w:r w:rsidRPr="002E1A73"><w:rPr><w:b/></w:rPr><w:t>Payable on</w:t></w:r></w:p></w:tc><w:tc><w:tcPr><w:tcW w:type="dxa" w:w="6939"/><w:shd w:color="auto" w:fill="D9D9D9" w:themeFill="background1" w:themeFillShade="D9" w:val="clear"/></w:tcPr><w:p w14:paraId="21F365C5" w14:textId="77777777" w:rsidP="002E1A73" w:rsidR="00F01ED7" w:rsidRDefault="00573D13" w:rsidRPr="002E1A73"><w:pPr><w:pStyle w:val="FPRBodycopy"/><w:rPr><w:b/></w:rPr></w:pPr><w:sdt><w:sdtPr><w:rPr><w:b/></w:rPr><w:id w:val="-1913694456"/><w:placeholder><w:docPart w:val="7BA15084BD254011B13428AF740946C0"/></w:placeholder><w:showingPlcHdr/><w:comboBox><w:listItem w:value="Choose an item."/><w:listItem w:displayText="Death" w:value="Death"/><w:listItem w:displayText="First death" w:value="First death"/></w:comboBox></w:sdtPr><w:sdtEndPr/><w:sdtContent><w:r w:rsidR="003E2834" w:rsidRPr="000A490D"><w:rPr><w:rStyle w:val="PlaceholderText"/></w:rPr><w:t>Field_5</w:t></w:r></w:sdtContent></w:sdt></w:p></w:tc></w:tr><w:tr w14:paraId="1A72B3C1" w14:textId="77777777" w:rsidR="00F01ED7" w:rsidRPr="002E1A73" w:rsidTr="00DB6E7E"><w:trPr><w:trHeight w:val="321"/></w:trPr><w:tc><w:tcPr><w:tcW w:type="dxa" w:w="2689"/></w:tcPr><w:p w14:paraId="76D64801" w14:textId="77777777" w:rsidP="002E1A73" w:rsidR="00F01ED7" w:rsidRDefault="00F01ED7" w:rsidRPr="002E1A73"><w:pPr><w:pStyle w:val="FPRBodycopy"/><w:rPr><w:b/></w:rPr></w:pPr><w:r w:rsidRPr="002E1A73"><w:rPr><w:b/></w:rPr><w:t>Trust recommended</w:t></w:r></w:p></w:tc><w:tc><w:tcPr><w:tcW w:type="dxa" w:w="6939"/><w:shd w:color="auto" w:fill="D9D9D9" w:themeFill="background1" w:themeFillShade="D9" w:val="clear"/></w:tcPr><w:sdt><w:sdtPr><w:rPr><w:b/></w:rPr><w:id w:val="-1046674412"/><w:placeholder><w:docPart w:val="41146A6A87E54A23BE37BB43EA7E409D"/></w:placeholder><w:showingPlcHdr/><w:comboBox><w:listItem w:value="Choose an item."/><w:listItem w:displayText="Yes" w:value="Yes"/><w:listItem w:displayText="No" w:value="No"/></w:comboBox></w:sdtPr><w:sdtEndPr/><w:sdtContent><w:p w14:paraId="15954487" w14:textId="77777777" w:rsidP="002E1A73" w:rsidR="00F01ED7" w:rsidRDefault="003E2834" w:rsidRPr="002E1A73"><w:pPr><w:pStyle w:val="FPRBodycopy"/><w:rPr><w:b/></w:rPr></w:pPr><w:r w:rsidRPr="000A490D"><w:rPr><w:rStyle w:val="PlaceholderText"/></w:rPr><w:t>Field_6</w:t></w:r></w:p></w:sdtContent></w:sdt></w:tc></w:tr></w:tbl><w:p w14:paraId="3D66BC3E" w14:textId="77777777" w:rsidP="00F01ED7" w:rsidR="00F01ED7" w:rsidRDefault="00573D13"><w:pPr><w:pStyle w:val="FPRBodycopy"/></w:pPr></w:p></w:sdtContent></w:sdt></w:sdtContent>

In [429]:
#mozart

In [716]:
#soup.find_all('sdt')[3].contents

#dali =[]
#mozart = []
#beeth = []
#for i in range(3,len(soup.findAll('sdt'))):
    #try:
        #lolz = soup.findAll('comboBox')[i].contents
        #dali = [num["w:value"] for num in lolz]
        #beeth = [num["w:t"] for num in lolz]
        #mozart.append([beeth, dali])

In [335]:
i_tag = soup.find_all('comboBox')[11]

for i in soup.find_all('comboBox'):
    #print(child)
    my_text = str(i.previousSibling).strip()
    print(my_text, "-------------------------")

In [356]:
import re
maxdepth = 1
indent_size = 2
x = (soup.prettify())

x2 = xmltodict.parse(x, process_namespaces=True)

for key in x2:
   k =(json.dumps(x2[key], indent=4, default=str))

In [270]:
print(head_tag)

None

In [315]:
t1 = soup.findAll('comboBox')[90].contents#['listItem']
#title_tag = t1[0]
t1

[<w:listItem w:value="Choose an item."/>,
 <w:listItem w:displayText="the premiums are the lowest of all the companies on our list of recommended insurers." w:value="the premiums are the lowest of all the companies on our list of recommended insurers."/>,
 <w:listItem w:displayText="the features and benefits of the policy meet your specific requirements and the premiums are the lowest of all the companies on our list of recommended insurers." w:value="the features and benefits of the policy meet your specific requirements and the premiums are the lowest of all the companies on our list of recommended insurers."/>,
 <w:listItem w:displayText="the features and benefits of the policy meet your specific requirements." w:value="the features and benefits of the policy meet your specific requirements."/>,
 <w:listItem w:displayText="ii_Field_995_1 other reason." w:value="ii_Field_995_1 other reason."/>]

In [324]:
dali =[]
mozart = []
for i in range(0,len(soup.findAll('comboBox'))):
        lolz = soup.findAll('comboBox')[i].contents
        dali = [num["w:value"] for num in lolz]
        mozart.append(dali)
    #t1 = soup.findAll('comboBox')[i].contents
    #for j in range(0, len(soup.findAll('comboBox')[i].contents)):
        #for ii in in range(1, len(soup.findAll('comboBox')[i].contents[j])):

In [325]:
mozart

[['Choose an item.', 'Aegon', 'Aviva', 'HSBC', 'Zurich'],
 ['Choose an item.',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover'],
 ['Choose an item.', 'Sum assured', 'Benefit amount'],
 ['Choose an item.', '£ii_Field_52_1', '£ii_Field_53_2 a month'],
 ['Choose an item.',
  'ii_Field_62_1 years',
  'to age ii_Field_63_2',
  'Whole of life'],
 ['Choose an item.', 'Death', 'First death'],
 ['Choose an item.', 'Yes', 'No'],
 ['Choose an item.', 'meet', 'partially meet'],
 ['Choose an item.',
  'replace your earned income',
  'provide a lump sum',
  'provide a monthly income'],
 ['Choose an item.', 'you die', 'either of you dies'],
 ['Choose an item.', 'their', 'his', 'her'],
 ['Choose an item.', 'their', 'his', 'her'],
 ['Choose an item.', 'sums assured and terms', 'sums assured', 'terms'],
 ['Choose an item.',
  'as the total cost is lower',
  'as you feel a single policy is more convenient, despite costing more',
  'because ii_Field_154_1'],
 ['Choose an item.', 'have', 'haven’t'],
 ['Choose an item.', 'complement', 'replace'],
 ['Choose an item.', 'policy', 'policies'],
 ['Choose an item.',
  'Level Life Cover',
  'Family Income Benefit',
  'Whole of Life Cover'],
 ['Choose an item.', 'Yes', 'No'],
 ['Choose an item.', 'Yes', 'No'],
 ['Choose an item.', 'sum assured', 'benefit amount'],
 ['Choose an item.', 'sum assured', 'benefit amount'],
 ['Choose an item.', 'sum assured', 'benefit amount'],
 ['Choose an item.', 'their', 'his', 'her'],
 ['Choose an item.', 'their', 'his', 'her'],
 ['Choose an item.', 'sum assured', 'benefit amount'],
 ['Choose an item.', 'will also', "won't"],
 ['Choose an item.', 'sum assured', 'benefit amount'],
 ['Choose an item.',
  'as you don’t want the cover or premiums to go up',
  'because ii_Field_313_1'],
 ['Choose an item.',
  'until you retire at age ii_Field_322_1.',
  'until you reach age ii_Field_323_2 because ii_Field_323_2.',
  'for a term of ii_Field_324_3 years because ii_Field_324_3.',
  "for 'whole of life' because ii_Field_325_4."],
 ['Choose an item.',
  'the premiums are the lowest of all the companies on our list of recommended insurers.',
  'the features and benefits of the policy meet your specific requirements and the premiums are the lowest of all the companies on our list of recommended insurers.',
  'the features and benefits of the policy meet your specific requirements.',
  'ii_Field_335_1 other reason.'],
 ['Choose an item.', 'Aegon', 'Aviva Core', 'Aviva Upgraded+', 'HSBC'],
 ['Choose an item.', 'ii_Field_362_1 years', 'to age ii_Field_363_2'],
 ['Choose an item.', 'meet', 'partially meet'],
 ['Choose an item.', 'sums assured and terms', 'sums assured', 'terms'],
 ['Choose an item.',
  'as the total cost is lower',
  'as you feel a single policy is more convenient, despite costing more',
  'because ii_Field_394_1'],
 ['Choose an item.', 'have', 'haven’t'],
 ['Choose an item.', 'complement', 'replace'],
 ['Choose an item.', 'policy', 'policies'],
 ['Choose an item.', 'Yes', 'No'],
 ['Choose an item.', 'standard', 'upgraded'],
 ['Choose an item.', 'include', 'exclude'],
 ['Choose an item.', 'with', 'from'],
 ['Choose an item.',
  'until you retire at age ii_Field_482_1.',
  'until you reach age ii_Field_483_2 because ii_Field_483_2.',
  'for a term of ii_Field_484_3 years because ii_Field_484_3.'],
 ['Choose an item.',
  'the premiums are the lowest of all the companies on our list of recommended insurers.',
  'the features and benefits of the policy meet your specific requirements and the premiums are the lowest of all the companies on our list of recommended insurers.',
  'the features and benefits of the policy meet your specific requirements.',
  'ii_Field_495_1 other reason.'],
 ['Choose an item.', 'Aegon', 'Aviva'],
 ['Choose an item.', 'weeks', 'months'],
 ['Choose an item.', 'weeks', 'months'],
 ['Choose an item.', 'ii_Field_542_1 years', 'to age ii_Field_543_2'],
 ['Choose an item.', 'meet', 'partially meet'],
 ['Choose an item.', 'complement', 'replace'],
 ['Choose an item.', 'policy', 'policies'],
 ['Choose an item.', 'weeks', 'months'],
 ['Choose an item.', 'weeks', 'months'],
 ['Choose an item.',
  'ii_Field_612_1 years ii_Field_612_1 months',
  'to age ii_Field_613_2'],
 ['Choose an item.', 'Yes', 'No'],
 ['Choose an item.', 'including', 'excluding'],
 ['Choose an item.',
  'your salary and dividends',
  "last year's net profit",
  "the average of two years' net profit"],
 ['Choose an item.',
  'mortgage payments and other financial commitments',
  'financial commitments'],
 ['Choose an item.',
  'mortgage payments and other financial commitments',
  'financial commitments'],
 ['Choose an item.',
  'mortgage payments and other financial commitments',
  'financial commitments'],
 ['Choose an item.',
  "the job you do now. This is called 'own occupation' cover and its",
  "the job you do now, or any other job for which you're reasonably suited. The"],
 ['Choose an item.',
  'when your employer sick pay stops',
  'when your employer sick pay reduces',
  'because ii_Field_694_1'],
 ['Choose an item.', 'shorter', 'longer'],
 ['Choose an item.',
  'build up your savings from your disposable income',
  'keep a cash reserve'],
 ['Choose an item.',
  'the premiums are the lowest of all the companies on our list of recommended insurers.',
  'the features and benefits of the policy meet your specific requirements and the premiums are the lowest of all the companies on our list of recommended insurers.',
  'the features and benefits of the policy meet your specific requirements.',
  'other reason.'],
 ['Choose an item.', 'mortgage', 'mortgages', 'loan', 'loans'],
 ['Choose an item.', 'Aegon', 'Aviva Core', 'Aviva Upgraded+', 'HSBC'],
 ['Choose an item.',
  'Decreasing Life Cover',
  'Level Life Cover',
  'Decreasing Critical Illness Cover',
  'Level Critical Illness Cover',
  'Decreasing Life and Critical Illness Cover',
  'Level Life and Critical Illness Cover'],
 ['Choose an item.', 'Death', 'First death', 'First event'],
 ['Choose an item.', 'Yes', 'No'],
 ['Choose an item.', 'meet', 'partially meet'],
 ['Choose an item.', 'mortgage', 'mortgages', 'loan', 'loans'],
 ['Choose an item.',
  'you die',
  'either of you dies',
  'you die or you’re diagnosed with a critical illness',
  'either of you dies or is diagnosed with a critical illness',
  "you're diagnosed with a critical illness",
  'either of you is diagnosed with a critical illness'],
 ['Choose an item.', 'sums assured and terms', 'sums assured', 'terms'],
 ['Choose an item.',
  'as the total cost is lower',
  'as you feel a single policy is more convenient, despite costing more',
  'because ii_Field_834_1'],
 ['Choose an item.',
  'death in service benefit',
  'life cover',
  'critical illness cover'],
 ['Choose an item.', 'complement', 'replace'],
 ['Choose an item.', 'policy', 'policies'],
 ['Choose an item.',
  'Decreasing Life Cover',
  'Level Life Cover',
  'Decreasing Critical Illness Cover',
  'Level Critical Illness Cover',
  'Decreasing Life and Critical Illness Cover',
  'Level Life and Critical Illness Cover'],
 ['Choose an item.', 'Yes', 'No'],
 ['Choose an item.', 'Yes', 'No'],
 ['Choose an item.', 'death or critical illness', 'death', 'critical illness'],
 ['Choose an item.',
  'you die',
  "you're diagnosed with a critical illness",
  "you die or you're diagnosed with a critical illness"],
 ['Choose an item.',
  'life cover only, so your mortgage won’t be protected if you suffer a critical illness.',
  'critical illness cover only, so your mortgage won’t be protected if you die.'],
 ['Choose an item.', 'life', 'critical illness'],
 ['Choose an item.', 'standard', 'upgraded'],
 ['Choose an item.', 'include', 'exclude'],
 ['Choose an item.', 'with', 'from'],
 ['Choose an item.',
  'ii_Field_982_1 years and ii_Field_982_1 months',
  'ii_Field_983_2 years'],
 ['Choose an item.',
  'the premiums are the lowest of all the companies on our list of recommended insurers.',
  'the features and benefits of the policy meet your specific requirements and the premiums are the lowest of all the companies on our list of recommended insurers.',
  'the features and benefits of the policy meet your specific requirements.',
  'ii_Field_995_1 other reason.']]

In [289]:
len(soup.findAll('comboBox'))

91

In [287]:
len(t1)

5

In [317]:
t1[1]

<w:listItem w:displayText="the premiums are the lowest of all the companies on our list of recommended insurers." w:value="the premiums are the lowest of all the companies on our list of recommended insurers."/>

In [255]:
t1.attrs

{}

In [251]:
soup.comboBox.lisItem

In [243]:
t = soup.findAll('listItem')[2]
type(t)
t.text
type(t.attrs)
t.attrs #['w:value']

{'w:displayText': 'Aviva', 'w:value': 'Aviva'}

In [ ]:
links = soup.find_all('w')

In [ ]:
for link in links:
    print(link.attrs['listItem'])

In [ ]:
soup.listItem.value

In [ ]:
import argparse
from xml.etree import ElementTree


# ------------------------------------------------------------------------------
def reformat(
        input_xml: str,
        output_xml: str,
):
    tree = ElementTree.parse(input_xml)

    # remove extraneous newlines and whitespace from text elements
    for element in tree.getiterator():
        if element.text:
            element.text = element.text.strip()

    # write the updated XML into the annotations output directory
    tree.write(output_xml)


# ------------------------------------------------------------------------------
if __name__ == "__main__":

    # parse the command line arguments
    args_parser = argparse.ArgumentParser()
    args_parser.add_argument(
        "--in",
        required=True,
        type=str,
        help="file path of original XML",
    )
    args_parser.add_argument(
        "--out",
        required=True,
        type=str,
        help="file path of reformatted XML",
    )
    args = vars(args_parser.parse_args())

    reformat(
        args["in"],
        args["out"],
    )

In [ ]:
 #with open(r'Protection recommendations_1.docx', encoding="utf8", errors='ignore') as f:
    #soup5 = BeautifulSoup(f, 'lxml')

In [ ]:
all_tags = [tag.name for tag in soup.find_all()]

In [ ]:
myset = set(all_tags)
print(myset)

In [ ]:
for row in soup.find_all('column'):
    print(row.text)

In [ ]:
import lxml.etree
document = zipfile.ZipFile('Protection recommendations_1.docx')
xml_content = document.read('word/document.xml')
#tree = lxml.etree.parse(xml_content)

In [ ]:
from lxml import etree
from io import BytesIO

myString = xml_content

tree = etree.parse(BytesIO(myString))

In [ ]:
pi = tree.xpath("//processing-instruction()")[0]

In [ ]:
gegevans

In [428]:
#soup.findAll('tbl')
#print (soup.prettify())

In [ ]:
soup.findAll('listItem')

In [ ]:
#convert to string for if statements
number = str(dropdownlist[0])
job = str(dropdownlist[1])
vehicle = str(dropdownlist[7])

if number == '<w:result w:val="1"/>' :
    dropdownlistdata.append('0,3')
elif number == '<w:result w:val="2"/>' :
    dropdownlistdata.append('1,2')
elif number == '<w:result w:val="3"/>' :
    dropdownlistdata.append('onbekend')
else:
    dropdownlistdata.append('geen')

if job  == '<w:result w:val="1"/>' :
    dropdownlistdata.append('nee')
else:
    dropdownlistdata.append('ja')

if vehicle == '<w:result w:val="1"/>' :
    dropdownlistdata.append('nee')
else:
    dropdownlistdata.append('ja')

#show data
print (alletabellen)
print (dropdownlistdata)

In [ ]:
Sec_title = list(df[2])
Sec_title  = [x for x in Sec_title if str(x) != 'nan']

In [ ]:
hl_title = list (df[1])
hl_title  = [x for x in hl_title if str(x) != 'nan']

In [ ]:
Sec_title

In [ ]:
hl_title

In [ ]:
import os
import sys
scriptpath = "/home/jupyter/elmodules"
sys.path.append(os.path.abspath(scriptpath))

In [ ]:
import data_func

In [ ]:
import PyPDF2
#import data_func
import csv

reader = PyPDF2.PdfFileReader('/home/jupyter/FPR_281020_3.pdf')

print(reader.documentInfo)

num_of_pages = reader.numPages
print('Number of pages: ' + str(num_of_pages))

In [ ]:
title_list = []
pagenum_list = []
title_formatted_list = []
for item in table_of_contents_raw:
        title, pagenum = \
            data_func.split_to_title_and_pagenum(item)
        if title != None:
            title_list.append(title)
            pagenum_list.append(pagenum)
            title_formatted_list.append(
                data_func.convert_title_to_filename(title))
            
# for page_list, we need to add the last page as well
pagenum_list.append(num_of_pages + 1)

In [ ]:

for i in range(1, len(Sec_title)):
    title_formatted = Sec_title[i]
    #page_start = pagenum_list[i] - 1
    #page_end = pagenum_list[i+1] - 2
    
    writer = PyPDF2.PdfFileWriter()

    for page in range(0,num_of_pages + 1):
        writer.addPage(reader.getPage(page))
    
    output_filename = './data/original/pdfs/' + title_formatted + '.pdf'

    with open(output_filename, 'wb') as output:
        writer.write(output)